[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cryptography = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
django-treebeard = "*"
djangorestframework = "*"
idna = "*"
jwcrypto = "*"
pillow = "*"
psycopg2 = "*"
pyyaml = "*"
requests = "*"
selenium = "*"
sentry-sdk = "*"
stripe = "*"
toml = "*"
urllib3 = "*"
wrapt = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
