{% if ordered.order_address.1.last_name is not None %}
<p>Bonjour {{ ordered.order_address.1.last_name|upper }} {{ ordered.order_address.1.first_name|capfirst }},</p>
{% else %}
<p>Bonjour {{ ordered.order_address.0.last_name|upper }} {{ ordered.order_address.0.first_name|capfirst }},</p>
{% endif %}

<p>Tout d'abord, merci pour votre achat.</p>
<p>Dans ce mail vous trouverez plusieurs informations.
<p>
<p>
    <strong>Pour retrouver la commande sur le site:</strong><br>
    <strong>UUID</strong>: {{ ordered.pk }}<br>
    <strong>SECRET</strong>: {{ ordered.secrets }}
</p>
<p>
    <strong>Et votre facture ci-dessous</strong>.
</p>
<p>Cordialement, {{ website_title }}.</p>

<hr>
<hr>