{% extends 'ecommerce/base.html' %}

{% block base_container %}
    <section class="order">
        <h2>Commande #{{ ordered.order_number }}</h2>
        <section>
            <h3>Récapitulatif de cette commande</h3>
            {% include "sale/ordered_recap.html" with ordered=ordered %}
        </section>
        <section>
            {% include "sale/ordered_informations.html" with ordered=ordered %}
        </section>
        {% if ordered.ordered_is_enable %}
            <section class="order_form">
                <h2>Formulaire d'informations générales</h2>
                <form action="{% url 'sale:fill' ordered.pk %}" method="post" novalidate="novalidate" class="form_fill_1">
                    {% csrf_token %}
                    <div>
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }} : </label>
                        {{ form.email }}
                    </div>

                    <div>
                        {{ form.phone.errors }}
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }} (Non obligatoire) :</label>
                        {{ form.phone }}
                    </div>

                    <input type="submit" value="Suivant"/>
                </form>
            </section>
        {% endif %}
    </section>
{% endblock %}