<h2>Informations à propos de cette commande</h2>
<p>
    Cette réservation a été crée le <strong>{{ ordered.createdAt }}</strong>.
</p>
{% if ordered.payment_status %}
    <p>
        <strong>
            Cette commande a été payée.
        </strong>
    </p>
    <p>
        Vous pouvez retrouver un <strong>duplicata de votre facture <a
            href="{% url 'sale:invoice' ordered.pk ordered.secrets %}">ICI</a></strong>.
    </p>
    {% for order_adress in ordered.order_address.all %}
        {% if forloop.counter0 == 0 %}
            <p>
                <strong>Adresse de livraison</strong>
            </p>
        {% else %}
            <p>
                <strong>Adresse de facturation</strong>
            </p>
        {% endif %}
        <p>
            <strong>{{ order_adress.last_name|upper }} {{ order_adress.first_name|capfirst }}</strong><br>
            {{ order_adress.address }}<br>
            {% if order_adress.address2 %}
                {{ order_adress.address2 }}<br>
            {% endif %}
            {{ order_adress.postal_code }}, {{ order_adress.city }}<br>
            France<br>
        </p>
    {% endfor %}

    <p>Tél: {{ ordered.phone }}</p>

{% else %}
    <p>
        Notre site e-commerce prend en considération un stock disponible.<br>
        Nous ne vendons pas un produit qui n'est pas en stock.<br>
        Vos quantités seront réservées uniquement au moment du paiement.<br>
        Si le paiement de la reservation est effective, la reservation sera permanent.
    </p>
    {% if ordered.ordered_is_enable %}
        <p>
            Cette réservation est <strong>active</strong>
            jusqu'au <strong>{{ ordered.effective_end_time_payment }}</strong>.
        </p>
        <p>
            Si vous ne procédez pas au paiement de cette commande avant l'échéance,<br>
            la réservation sera annulée et vous pourrez constituer une autre résérvation.
        </p>
    {% else %}
        <p>
            Cette réservation est <strong>inactive</strong>.<br>
            Son échéance était le {{ ordered.effective_end_time_payment }}.
        </p>
        <p>
            Vous ne pouvez plus procéder au paiement ni renseigner vos coordonnées.
        </p>
        <p>
            Vous pourrez <strong>refaire une autre réservation dans au plus 25 minutes.</strong><br>
            Cette réservation sera bien entendue supprimer de nos bases de données.
        </p>
    {% endif %}
{% endif %}
