{% extends 'ecommerce/base.html' %}
{% load static %}

{% block base_container %}
    <section class="order">
        <h2>Commande #{{ ordered.order_number }}</h2>
        <section>
            <h3>Récapitulatif de cette commande</h3>
            {% include "sale/ordered_recap.html" with ordered=ordered %}
        </section>
        <section>
            {% include "sale/ordered_informations.html" with ordered=ordered %}
        </section>
        {% if formset %}
            <section class="order_form">
                <h2>Pour passer au
                    paiement, il vous faut remplir vos coordonnées</h2>
                <form action="{% url 'sale:fill_next' ordered.pk %}"
                      method="post" class="form_fill_2">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                          {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% if forloop.counter0 == 0 %}
                            <section id="delivery_address">
                            <h3>Adresse de livraison</h3>
                        {% else %}
                            <section id="facturation_address">
                            <h3>Adresse de facturation</h3>
                        {% endif %}
                    <div>
                        {{ form.first_name.errors }}
                        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }} : </label>
                        {{ form.first_name }}
                    </div>
                    <div>
                        {{ form.last_name.errors }}
                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }} : </label>
                        {{ form.last_name }}
                    </div>
                    <div>
                        {{ form.address.errors }}
                        <label for="{{ form.address.id_for_label }}">{{ form.address.label }} : </label>
                        {{ form.address }}
                    </div>
                    <div>
                        {{ form.address2.errors }}
                        <label for="{{ form.email.id_for_label }}">{{ form.address2.label }} : </label>
                        {{ form.address2 }}
                    </div>
                    <div>
                        {{ form.postal_code.errors }}
                        <label for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label }} : </label>
                        {{ form.postal_code }}
                    </div>
                    <div>
                        {{ form.city.errors }}
                        <label for="{{ form.city.id_for_label }}">{{ form.city.label }} : </label>
                        {{ form.city }}
                    </div>
                    </section>

                    {% endfor %}
                    <div role="group" class="btn-group">
                        <button type="button" id="fill_next_config">Facturation identique à
                            la
                            livraison
                        </button>
                        <button type="submit">Envoyer mes coordonnées</button>
                    </div>
                </form>
            </section>
        {% endif %}
    </section>
{% endblock %}

{% block body_js %}
    {% if formset %}
        <script src="{% static 'js/fill_next_order.js' %}"></script>
    {% endif %}
{% endblock %}
