{% load currency %}
{% load getter %}
{% load static %}

{% if products|length > 0 %}
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url "catalogue_product_detail" product.slug %}">{{ product.name }}</a>
                <ul>
                    <li>{{ basket|get_dict:product.slug|get_dict:"quantity" }}X
                        - {{ product.price_exact_ttc_with_quantity|floatformat:2 }}€ (TTC)
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% if promo is not None %}
            <li>
                <strong>Promo</strong>
                <ul>
                    {% if promo.type == "pe" %}
                        <li>-{{ promo.value }}%</li>
                    {% else %}
                        <li>-{{ promo.value }}€</li>
                    {% endif %}
                </ul>
            </li>
            <li>Total (TTC) <strong>{{ aggregate.price_exact_ttc_with_quantity_promo__sum|floatformat:2 }}€</strong>
            </li>
        {% else %}
            <li>Total (TTC) <strong>{{ aggregate.price_exact_ttc_with_quantity__sum|floatformat:2 }}€</strong></li>
        {% endif %}
        {% if delivery_free_gt <= aggregate.price_exact_ttc_with_quantity__sum %}
            <li><strong>La livraison est offerte.</strong></li>
        {% else %}
            <li><strong>Un tarif de livraison sera à prendre en compte.</strong></li>
        {% endif %}
    </ul>
    <ul>
        <li>
            <a href="{% url "catalogue_basket" %}">Voir mon panier</a>
        </li>
    </ul>
{% else %}
    <ul>
        <li>
            Votre panier est vide.
        </li>
    </ul>
{% endif %}
