{% extends 'elococo/base.html' %}
{% load static %}

{% block base_container %}
    <h2>{{ product.name|title }}</h2>
    <article id="detail">
        <h3>Details</h3>

        <section>
            <h2>Zoom</h2>
            <span class="image_zoom" role="status">
            </span>
        </section>

        <div class="images">
            {% for product_image in images %}
                <figure class="hover_figure">
                    <img src="{{ product_image.image.url }}"
                         alt="product_{{ forloop.counter }}_{{ product.name }}"/>
                    <figcaption>
                        Image du produit n°{{ forloop.counter }}
                    </figcaption>
                </figure>
            {% endfor %}
        </div>

        {% if product.enable_sale %}
            <section class="sale_infos">
                <h3>Informations de vente</h3>
                <div>
                    <p>Son prix à l'unité est de <strong>{{ product.price_exact_ttc|floatformat:2 }}€ TTC</strong>.
                    </p>
                    {% if product.effective_reduction > 0 %}
                        <p>Il y a une réduction de <strong>-{{ product.effective_reduction }}%</strong> sur ce
                            produit.</p>
                        <p>
                            Cette réduction se termine le <u>{{ product.reduction_end }} à 23h59</u>
                            (Heure Europe/Paris, UTC+2).
                        </p>
                        <p>Son prix de base était de {{ product.price_base_ttc|floatformat:2 }}€ TTC.</p>
                    {% endif %}
                    <p>
                        {% if product.stock <= 0 %} Ce produit n'a plus de stock, essayez un autre jours.
                        {% elif product.stock <= 5 %} Il ne reste plus que
                            <strong>{{ product.stock }} unité(s)</strong> de
                            ce produit en stock !
                        {% else %}
                            <strong>Ce produit est en stock !</strong>
                        {% endif %}
                    </p>
                </div>
                <h3>Ajouter dans mon panier</h3>
                <div>
                    <form id="addBasketForm" action="{% url 'catalogue_product_detail' product.slug %}"
                          method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            {{ form.non_field_errors }}
                        {% endif %}
                        <div>
                            {{ form.quantity.errors }}
                            <label
                                    for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>

                            <span id="basic-addon1"><i></i></span>
                            {{ form.quantity }}
                            {{ form.quantity.help_text }}
                        </div>
                        <input type="submit" value="Ajouter dans le panier"/>
                    </form>
                </div>
            </section>
        {% endif %}

        <div class="description">
            {{ product.description|safe }}
        </div>

        <figure>
            <img src="{% static "images/rule1.bmp" %}" alt="licence">
            <figcaption>Images Licence</figcaption>
        </figure>
    </article>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="application/javascript">
        // From IB - {% now "Y" %}
        let image_product = document.querySelector("body main.gridded > .main #detail .image_zoom");
        let images_products = document.querySelector("body main.gridded > .main #detail .images");
        let figures = images_products.querySelectorAll(":scope figure");

        function image_treatment(figure) {
            let figure_clone = figure.cloneNode(true);
            figure_clone.style.maxHeight = "40em"
            image_product.innerHTML = "";
            image_product.appendChild(figure_clone);
        }

        function handle_image_product(event) {
            image_treatment(event.currentTarget);
        }

        function initListener() {
            try {
                let first_figure = figures[0];
                image_treatment(first_figure);
            } catch (e) {
                return false;
            }

            for (const figure of figures) {
                figure.addEventListener("click", handle_image_product, false);
                figure.classList.add("pointer");
            }

            return true;
        }

        initListener();

        {% if basket_updated %}
            let basket_modal_call = new bootstrap.Modal(basket_modal, {
                keyboard: false
            })
            basket_modal_call.show();
            basket_modal_showed = true;
        {% endif %}
    </script>
{% endblock %}