{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="{% static random_footer_logo %}"/>
    <meta charset="UTF-8">
    <title>{{ website_title }}</title>
    <link rel="stylesheet" href="{% static "sass/bootstrap_custom.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/catalogue.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body class="{% spaceless %}{% block body_class %}main_expand_right{% endblock %}{% endspaceless %}">

{% include "elococo/navbar.html" %}

<main>
    {% block base_container %}
    {% endblock %}
</main>

{% include "elococo/footer.html" %}

<div class="modal fade" id="basket_modal" tabindex="-1" aria-labelledby="basket_modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Mon Panier</h3>
            </div>
            <div id="basket-form">
                <div class="modal-body">
                    <div class="spinner-border text-success" role="status">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script type="application/javascript">
    // From IB - {% now "Y" %}

    let basket_modal = document.getElementById('basket_modal');
    let basket_modal_showed = false;
    let url_get_basket = "{{ url_get_basket }}";
    let httpRequest = new XMLHttpRequest();

    function construct_basket_form(basket) {
        let table = document.createElement("table");
        table.classList.add("table", "table-bordered", "border-primary", "basket-table");

        let thead = document.createElement("thead");
        let thead_tr = document.createElement("tr");

        let columns = ["#", "Nom du produit", "Prix unitaire (€)", "Dont réduction (%)", "Quantité", "Sous Total (€)", "Supprimer ?"]

        for (let i = 0; i < columns.length; i++) {
            let th = document.createElement("th");
            th.setAttribute("scope", "col");
            let text = document.createTextNode(columns[i]);
            th.appendChild(text);
            thead_tr.appendChild(th);
        }

        thead.appendChild(thead_tr);
        table.appendChild(thead);

        let tbody = document.createElement("tbody");

        let keys_basket = ["product_name", "exact_price", "effective_reduction", "input_html_quantity", "exact_price_with_quantity", "input_html_remove"];
        let prefix_values = ["", "", "-", "", "", ""];
        let suffix_values = ["", "€", "%", "", "€", ""];

        let all = basket["__all__"];
        delete basket["__all__"];
        let formset_management = basket["formset_management"];
        delete basket["formset_management"];
        let keys_basket_all = ["exact_price_with_quantity__sum"];

        let i = 1;
        for (const keysBasketKey in basket) {
            let tbody_tr = document.createElement("tr");

            let data = {};
            if (basket.hasOwnProperty(keysBasketKey)) {
                data = basket[keysBasketKey];
            }

            let th = document.createElement("th");
            th.setAttribute("scope", "row");
            let text = document.createTextNode(i.toString());
            th.appendChild(text);
            tbody_tr.appendChild(th);

            let j = 0;
            for (const key of keys_basket) {
                let td = document.createElement("td");
                let info = "";
                if (data.hasOwnProperty(key)) {
                    info = data[key];
                }

                if (j === 3 || j === 5) {
                    td.innerHTML = info;
                } else {
                    if (j === 1 || j === 2 || j === 4) {
                        if (j === 2 && parseInt(info) === 0) {
                            info = "Pas de reduction";
                        } else {
                            info = prefix_values[j] + info.toFixed(2).toString() + suffix_values[j];
                        }
                    }

                    text = document.createTextNode(info);
                    td.appendChild(text);
                }

                tbody_tr.appendChild(td);
                j++;
            }

            tbody.appendChild(tbody_tr);

            i++;
        }

        let tbody_tr = document.createElement("tr");

        let td = document.createElement("td");
        let strong = document.createElement("strong");
        let text = document.createTextNode("Total");
        strong.appendChild(text);
        td.appendChild(strong);
        tbody_tr.appendChild(td);

        td = document.createElement("td");
        td.setAttribute("colspan", "4");
        tbody_tr.appendChild(td);

        td = document.createElement("td");
        strong = document.createElement("strong");
        text = document.createTextNode(all[keys_basket_all[0]].toFixed(2) + "€");
        strong.appendChild(text);
        td.appendChild(strong);
        tbody_tr.appendChild(td);

        td = document.createElement("td");
        tbody_tr.appendChild(td);

        tbody.appendChild(tbody_tr);

        table.appendChild(tbody);

        let modal_form_container_body = basket_modal.querySelector(".modal-body").cloneNode();
        let modal_form_container_footer = basket_modal.querySelector(".modal-footer").cloneNode(true);

        modal_form_container_body.innerHtml = "";
        modal_form_container_body.appendChild(table);

        let button_validation = document.createElement("a");
        button_validation.classList.add("btn", "btn-success");
        text = document.createTextNode("Valider mon panier");
        button_validation.appendChild(text);

        modal_form_container_footer.appendChild(button_validation);

        let form = document.createElement("form");
        form.setAttribute("action", url_get_basket);
        form.setAttribute("method", "post");

        form.innerHTML = formset_management;

        form.appendChild(modal_form_container_body);
        form.appendChild(modal_form_container_footer);

        return form;
    }

    function status200() {
        let basket = httpRequest.response;
        let modal_body = basket_modal.querySelector(".modal-body");
        let modal_body_spinner = modal_body.querySelector(".spinner-border");
        let modal_form_container = document.getElementById("basket-form");
        modal_body.removeChild(modal_body_spinner);

        if (Object.keys(basket).length > 0) {
            let form = construct_basket_form(basket);
            modal_form_container.innerHTML = "";
            modal_form_container.appendChild(form);
        } else {
            let div = document.createElement("div");
            let text = document.createTextNode("Votre panier est vide");
            div.appendChild(text);
            modal_body.appendChild(div);
        }
    }

    function onload() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                setTimeout(status200, 500);
            } else {
                alert('Il y a eu un problème avec la requête.');
            }
        }
    }

    function get_basket() {
        if (basket_modal_showed) {
            return false;
        }

        basket_modal_showed = true;

        if (!httpRequest) {
            alert('Abandon :( Impossible de créer une instance de XMLHTTP');
            return false;
        }

        httpRequest.onload = onload;
        httpRequest.open('GET', url_get_basket);
        httpRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        httpRequest.responseType = 'json';
        httpRequest.send();
    }

    basket_modal.addEventListener('show.bs.modal', get_basket);
</script>

{% block body_js %}

{% endblock %}

</body>
</html>