{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="{% static random_footer_logo %}"/>
    <meta charset="UTF-8">
    <title>{{ website_title }}</title>
    <link rel="stylesheet" href="{% static "sass/bootstrap_custom.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/catalogue.css" %}">
</head>
<body class="{% spaceless %}{% block body_class %}{% endblock %}{% endspaceless %}">

{% include "elococo/navbar.html" %}

<main>
    {% block base_container %}
    {% endblock %}
</main>

{% include "elococo/footer.html" %}

</body>
</html>