{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="{% static random_footer_logo %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ website_title }}</title>
    {% block head_js %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "scss/design.css" %}">
    {% block head_css %}
    {% endblock %}
</head>
<body>

<div class="wrapper">
    <figure id="main_logo">
        <img src="{% static "images/Carla_logo.png" %}" alt="nav_logo">
    </figure>
    {% include "elococo/navbar.html" %}

    <main class="gridded">
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="main">
            {% block base_container %}
            {% endblock %}
        </div>
    </main>
</div>

{% include "elococo/footer.html" %}

<script>
    let httpRequest_basket_surface = new XMLHttpRequest();
    let navbar_basket = document.getElementById("navbar-basket");
    let sub_nav = document.createElement("nav");

    let sub_nav_loaded = false;

    function callback_onload_surface_basket(event) {
        navbar_basket.appendChild(sub_nav);
        sub_nav.innerHTML = '<div><div class="spinner-border" role="status"></div></div>'
        return setTimeout(function () {
            if (event !== null) {
                event.target.parentElement.classList.add("is-active");
            }
            let basket_surface = httpRequest_basket_surface.response;
            sub_nav.innerHTML = basket_surface.html;
            filter_request = false;
        }, 500)
    }

    function get_surface_basket(event) {
        event.preventDefault();
        sub_nav.classList.toggle("active");

        if (sub_nav_loaded) {
            return
        }

        if (!httpRequest_basket_surface) {
            alert('Abandon :( Impossible de créer une instance de XMLHTTP');
            return false;
        }

        sub_nav_loaded = true;

        let url = navbar_basket.querySelector("a").getAttribute("data-url-surface");

        httpRequest_basket_surface.onload = callback_onload_surface_basket(event);
        httpRequest_basket_surface.open('GET', url);
        httpRequest_basket_surface.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        httpRequest_basket_surface.responseType = 'json';
        httpRequest_basket_surface.send();
    }

    {% if not basket_view %}
        function mouseleave_listener_callback(event) {
            navbar_basket.parentElement.removeEventListener("mouseleave", mouseleave_listener_callback)
            mouseenter_listener()
            get_surface_basket(event)
        }

        function mouseleave_listener() {
            navbar_basket.parentElement.addEventListener("mouseleave", mouseleave_listener_callback)
        }

        function mouseenter_listener_callback(event) {
            navbar_basket.querySelector(":scope > a").removeEventListener("mouseenter", mouseenter_listener_callback)
            get_surface_basket(event)
            mouseleave_listener()
        }

        function mouseenter_listener() {
            navbar_basket.querySelector(":scope > a").addEventListener("mouseenter", mouseenter_listener_callback)
        }

        mouseenter_listener()

        navbar_basket.querySelector(":scope > a").addEventListener("touchstart", get_surface_basket)
        navbar_basket.querySelector(":scope > a").addEventListener("click", (e) => e.preventDefault())
    {% endif %}

</script>

{% block body_js %}
{% endblock %}

</body>
</html>