{% load static %}

<footer class="footer column_centered grid py-4 gap-5">
    <section class="span_3 span_md_6 span_xs_12">
        <h3 class="is-hidden">Logos</h3>
        <figure class="fig1 span_md_12 span_6">
            <img class="logos" src="{% static "images/Carla_logo.png" %}" alt="logo">
        </figure>
        <div class="grid span_md_12 span_6 gap-3">
        </div>
    </section>
    <section class="span_3 span_md_6 span_xs_12">
        <h3>Nos engagements</h3>
        <ul>
            <li>Livraison offerte dès 35€</li>
            <li>Paiement 100% sécurisé</li>
            <li>Produits en stock</li>
        </ul>
    </section>
    <section class="span_3 span_md_6 span_xs_12">
        <h3>À Propos</h3>
        <p class="m-0">Développé par <a target="_blank" href="{% url 'ivan_cv' %}">BESEVIC Ivan</a>.</p>
        <p> Tous droits réservés. {% now "Y" %}</p>
        <figure>
            <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img src="{% static "images/rule2.bmp" %}" alt="licence">
            </a>
        </figure>
    </section>
    <section class="span_3 span_md_12">
        <h3>
            Mode de paiements
        </h3>
        <div>
            <!-- PayPal Logo -->
            <figure class="d-inline-block me-2">
                <img src="{% static "images/visa1.png" %}" alt="visa"/>
            </figure>
            <figure class="d-inline-block">
                <img src="{% static "images/Master.png" %}" alt="master"/>
            </figure>
            <figure class="d-inline-block">
                <img src="{% static "images/cb.svg" %}" alt="carte bleue"/>
            </figure>
        </div>
    </section>
</footer>