{% load static %}

<footer class="footer grid start_1 end_6">
    <section class="start_1 end_2">
        <h3>Logos Et Certifications</h3>
        <div class="grid">
            <figure class="fig1 start_1 end_2">
                <img src="{% static random_footer_logo %}" alt="logo">
                <figcaption>
                    {{ website_title }}
                </figcaption>
            </figure>
            <div class="grid start_3 end_6">
                <figure class="start_1 end_3">
                    <img src="{% static "images/Valid_css.svg" %}" alt="CSS Valide !" />
                    <figcaption>
                        CSS valide
                    </figcaption>
                </figure>
                <figure class="start_4 end_6">
                    <img src="{% static "images/html5-validator-badge-blue.svg" %}" alt="html_valide" />
                    <figcaption>
                        HTML valide
                    </figcaption>
                </figure>
                <figure class="start_1 end_6">
                    <img class="w-50 h-50" src="{% static "images/django.jpg" %}" alt="html_valide" />
                    <figcaption>
                        Django backend
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section class="start_3 end_4">
        <h3>À Propos</h3>
        <p class="m-0">Développé par BESEVIC Ivan.</p>
        <p> Tous droits réservés - {% now "Y" %}.</p>
        <figure>
            <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img src="{% static "images/rule2.bmp" %}" alt="licence">
            </a>
        </figure>
    </section>
    <section class="start_5 end_6">
        <h3 class="mt-0">
            Mode de paiements
        </h3>
        <div class="grid">
            <!-- PayPal Logo -->
            <figure class="mt-1 start_1 end_6">
                <a href="https://www.paypal.com/fr/webapps/mpp/paypal-popup" title="PayPal Comment Ca Marche"
                    onclick="window.open('https://www.paypal.com/fr/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                        src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logo_paypal_site_fr.png"
                        alt="Now accepting PayPal" /></a>
            </figure>
            <div class="start_1 end_3">
                <!-- PayPal Logo -->
                <figure class="d-inline-block me-3">
                    <img src="{% static "images/visa.png" %}" alt="visa" />
                </figure>
                <figure class="d-inline-block">
                    <img src="{% static "images/cb.jpg" %}" alt="visa" />
                </figure>                
            </div>

    </section>
</footer>