{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/cv1.jpg' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV BESEVIC Ivan</title>
    <link rel="stylesheet" href="https://use.typekit.net/pkk7ngs.css">
    <link rel="stylesheet" href="{% static "css/cv.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
<svg class="p_absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgb(199, 222, 255)" fill-opacity="1"
          d="M0,224L288,256L576,224L864,192L1152,192L1440,288L1440,0L1152,0L864,0L576,0L288,0L0,0Z"></path>
</svg>
<div class="grid mx_1">
    <div class="start_1 end_5 text_right">
        <div class="grid">
            <div class="font_size_title start_1 end_12"><b>BESEVIC</b> Ivan</div>
            <div class="start_4 end_12 font_size_sub"><em>Étudiant en informatique</em></div>
        </div>
    </div>
    <div class="start_10 end_12 mx_auto">
        <img class="img_main_cv" src="{% static 'images/cv1.jpg' %}" alt="Ivan">
    </div>
    <div class="start_1 end_3">
        <div class="grid">
            <div class="start_1 end_12">
                <h3>CONTACT</h3>
                <p><i class="bi-geo-alt-fill"></i> 248 rue de Crimée<br>75019 PARIS</p>
                <p><i class="bi-telephone-fill"></i> 06 37 72 82 73</p>
                <p><i class="bi-envelope-fill"></i> Email:
                    <a href="mailto:ivan.besevic_fr@yahoo.com">ivan.besevic_fr@yahoo.com</a>
                </p>
                <p><i class="bi-linkedin"></i> Profil linkedin: <a target="_blank"
                                                                   href="https://www.linkedin.com/in/ivan-besevic-23493b166/">https://www.linkedin.com/in/ivan-besevic-23493b166/</a>
                </p>
                <p><i class="bi-github"></i> Lien github: <a target="_blank"
                                                             href="https://github.com/ivan-fr/">https://github.com/ivan-fr/</a>
                </p>
            </div>
            <div class="start_1 end_12">
                <h3>COMPÉTENCES</h3>
                <ul>
                    <li>JAVA (language de programmation)</li>
                    <li>PYTHON (language de programmation)</li>
                    <li>C (language de programmation)</li>
                    <li>SQL (language pour requêtes)</li>
                    <li>Anglais (B2)</li>
                </ul>
            </div>
            <div class="start_1 end_12">
                <h3>PARCOURS ACADÉMIQUE</h3>
                <ul>
                    <li><u>2021-2022:</u> <b>Sorbonne Université/CFA des sciences</b><br> Licence Informatique (BAC+3)
                        (alternance)
                    </li>
                    <li><u>2020-2021:</u> <b>Sorbonne Université</b><br> Licence Informatique mentions
                        <strong>TB</strong>
                        (BAC+2)<br></li>
                    <li><u>2019-2020:</u> <b>Caen Normandie</b><br> Licence Informatique mentions <strong>TB</strong>
                        (BAC+1)
                    </li>
                    <li><u>2018-2019:</u> <b>OpenClassRooms</b><br> Developpeur d'applications<br>(RNCP niveau 6)</li>
                </ul>
            </div>
            <div class="start_1 end_12">
                <h3>CENTRES D'INTÊRET</h3>
                <p> Jeux videos <i class="bi-controller"></i> <br>
                    Cinéma <i class="bi-camera-reels-fill"></i>
                    <br>Faire des sorties <i class="bi-emoji-smile-fill"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="start_4 end_12 ps_1">
        <div class="grid">
            <div class="start_1 end_12">
                <h3>PROFIL</h3>
                <div class="pad_1 border_dash">
                    <p>
                        Étudiant en informatique, je suis actuellement en recherche d’un <b> contrat d'apprentissage
                        d'une durée de
                        12
                        mois débutant en septembre 2021 dans le cadre de la licence 3ème année informatique
                        DANT de Sorbonne Université/CFA des Sciences.</b>
                    </p>
                    <p>Je pratique différents aspects de la programmation, tels que les structures de données (tables de
                        hachages, arbres, graphes). Le calcul relationnel pour faire des requêtes, plusieurs paradigmes
                        de
                        développement (POO, procédural, fonctionnel).</p>
                    <p>Ainsi que des connaissances en mathématiques (algèbre et
                        probabilité, discrète, logique et algorithmiques).
                    </p>
                    <p>Je connais la méthode de développement agile “scrum”
                        que j’applique dans le cadre universitaire de projets en groupe.
                    </p>
                    <p>Auparavant j’ai effectué une formation
                        professionnelle en pratiquant le langage python afin de faire des sites web avec le framework
                        Django.
                    </p>
                </div>
            </div>
            <div class=" start_1 end_12">
                <h3>ÉXPERIENCES</h3>
                <div class="pad_1 border_dash bg_light_blue">
                    <h4>2021 - Développeur Python/DJANGO - projet personnel</h4>
                    <p><a target="_blank" href="http://67.205.140.214/">http://67.205.140.214/</a> (site de
                        démonstration)
                    </p>
                    <p>
                        Développement d'un site e-commerce, gestions d'un catalogue avec catégories et formulaires,
                        gestions d'un
                        panier
                        avec
                        AJAX. <br>
                        Stripe est la librairie de paiements utilisé pour ce projet.
                    </p>
                    <h4>2021 - Développeur Python/C# - Sorbonne Université - projet</h4>
                    <p>
                        Développement de stratégies pour un robot type Gopigo avec simulation de rendu côté ordinateur
                        avec
                        unity.

                        Le robot est capable de suivre une balise grâce à sa caméra (avec analyse d'image en utilsant
                        numpy), éviter des obstacles et suivre un parcours géométrique.
                    </p>
                    <h4>2021 - Développeur Python/Mathématiques - Sorbonne Université - projet</h4>
                    <p>
                        Projet de mathématiques discrètes sur les automates.<br>
                        Parmi les fonctions élémentaires, on a la determinisation d'un automate et le calcule d'un
                        automate
                        produit.
                    </p>
                    <h4>2021 - Développeur JAVA - Sorbonne Université - projet</h4>
                    <p>
                        Développement d'une simulation de tournois de tennis. Avec actions selon des probabilités.<br>
                        En sortie du programme on obtient un affichage détaillé des matchs avec la grille du tournoi.
                    </p>
                    <h4>2020 - Développeur Python - Université de Caen - projet</h4>
                    <p>Développement d'un sokoban avec pygame. Intelligence artificiel basé sur l'algorithme A* pour
                        jouer
                        contre l'ordinateur.</b>
                    </p>
                    <h4>2019 - Développeur python/django - OpenClassRooms</h4>
                    <p><a target="_blank" href="http://3.138.191.40/">http://3.138.191.40/</a> (site de démonstration)
                    </p>
                    <p>
                        Simulation d'une billetterie en ligne.
                        Possibilité de gérer un stock de places en fonction d'un calendrier.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>