{% load static %}


<nav class="navbar">
    <ul>
        <li class="logo"><img src="{% static random_footer_logo %}" width="28" alt="nav_logo"></li>
        <li class="brand">{{ website_title }}</li>
        <li class="link is-active">
            <a href="{% url 'catalogue_index' %}">
                Boutique
            </a>
        </li>
    </ul>
    <ul>
        {% if url_my_ordered %}
            <li>
                <a href="{{ url_my_ordered }}" class="btn btn-success"><i
                        class="bi-info-circle"></i> Completer ma commande
                </a>
            </li>
        {% endif %}
        <li>
            <button data-bs-toggle="modal" data-bs-target="#basket-modal" class="btn btn-warning"><i
                    class="bi-basket"></i> Mon Panier
            </button>
        </li>
    </ul>
</nav>