{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="{% static random_footer_logo %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ website_title }}</title>
    {% block head_js %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.typekit.net/pkk7ngs.css">
    <link rel="stylesheet" href="{% static "scss/design.css" %}">
    <link rel="stylesheet" href="{% static "scss/presentation.css" %}">
    {% block head_css %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <figure id="main_logo">
        <img src="{% static "images/Carla_logo.png" %}" alt="nav_logo">
    </figure>
    <footer></footer>

    {% include "elococo/navbar.html" with index_nav=1 %}

    <main>
        <video autoplay loop muted>
            <source src="{% static "videos/intro.mp4" %}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </main>
</div>

{% include "elococo/footer.html" %}

{% block body_js %}
{% endblock %}

</body>
</html>