@import "grid"
@import "responsive"
@import "../bootstrap/scss/functions"
@import "../bootstrap/scss/variables"
@import "../bootstrap/scss/mixins"
@import "../bootstrap/scss/tables"

@mixin radius($i)
  border-radius: $i * 0.25em

body
  font-family: natom-pro, sans-serif
  font-weight: 400
  font-style: normal
  font-size: 20px
  background: #ffcf95
  box-sizing: border-box
  margin: 0
  color: black

  .is-hidden
    display: none

  strong
    font-weight: 700

  .btn-group
    display: flex
    justify-content: space-between

    button:not(:last-child)
      @include mr-(2)

  select
    @include p-(2)
    width: 100%
    background-color: darken(#ffeee5, 2)
    border: 1px solid black
    @include radius(2)
    cursor: pointer

    option
      @include radius(0)
      background-color: white

  input[type=text], input[type=submit], button[type=submit], input[type=email], button[type=button]
    font-size: 16px
    @include p-(2)
    width: calc(100% - 1em - 2px)
    border: 1px solid black

  input[type=submit], button[type=submit], button[type=button]
    width: 100%
    background-color: darken(#ffeee5, 2)
    @include radius(2)
    cursor: pointer

    &:hover
      background-color: darken(#ffeee5, 5)

  a
    color: darken(#ffcf95, 65)

  figure
    @include m(0)
    box-sizing: border-box

    &.hover_figure
      @include m(0)
      @include p-(0)
      position: relative
      height: 100%

      img
        width: 100%
        height: 100%
        box-sizing: border-box
        border: solid #f37333 1px

      &:hover figcaption
        display: block

      figcaption
        bottom: 0
        left: 0
        position: absolute
        display: none
        background: rgba(255, 255, 255, 0.9)
        padding: 0.50em
        box-sizing: border-box
        width: 100%
        font-weight: bold
        border: solid #f37333 1px

    img
      max-width: 100%
      max-height: 100%
      width: auto
      height: auto

  #submit_basket button
    @include mb-(4)

  #promo_form
    @include mb-(4)

    form
      @include grid(4)
      @include gap-(2)
      align-items: end

      .errors
        @include span(4)

      @media #{$medium-down}
        & > *
          @include span(4)

  footer
    @include py-(3)
    @include grid(4)
    justify-items: center

    @media #{$large-down}
      grid-template-columns: repeat(2, 1fr)

    @media #{$medium-down}
      grid-template-columns: repeat(1, 1fr)

    & > .logos
      & > h3
        display: none

      & img
        height: 150px

    & > section
      .payments_mode
        & > figure
          display: inline-block

  & video
    width: 100%

  .wrapper
    display: grid
    grid-auto-rows: auto
    background-color: #ffeee5
    @include pb-(30)
    position: relative

    footer
      position: absolute
      bottom: 0
      z-index: 1
      background: url("../images/footer.svg")
      height: 77px
      width: 100%

  main.gridded
    @include grid(24)

    & > .flash-message
      @include start(2)
      @include span-e(12)
      @include p-(3)
      @include my-(3)
      background: radial-gradient(circle, rgba(255, 255, 255, 1) 89%, rgba(255, 238, 229, 1) 100%)

      @media #{$medium-down}
        @include grid-centered-column(24)

    & > .main
      width: 100%
      @include grid-centered-column(24)
      color: black
      z-index: 0

      .order_retrieve
        width: 50%

        @media #{$medium-down}
          width: 100%

        form
          display: grid
          @include gap-(3)

      .order
        @include grid(2)

        .order_form
          background: radial-gradient(circle, rgba(255, 255, 255, 1) 89%, rgba(255, 238, 229, 1) 100%)

          h2
            text-align: center

          form
            @include p-(3)

          .form_fill_3
            width: 80%
            margin: 0 auto

          .form_fill_1
            display: grid
            @include gap-(3)

          .form_fill_2
            @include grid(2)
            @include gap-(3)

            h3:first-of-type
              @include mt(0)

            #delivery_address.expand
              @include span(2)
              @include grid(2)
              column-gap: 0.75em

              & > h3
                @include span(2)

              & > *:not(:nth-child(-n + 3))
                @include span(2)

              & ~ section
                display: none

            .btn-group
              @include span(2)

        & > h2
          word-break: break-word

        & > *:nth-child(-n+2)
          @include span(2)
          width: 100%

        @media #{$medium-down}
          & > *:not(:nth-child(-n+2))
            @include span(2)

      #detail
        @include grid(12)
        @include gap-(2)

        & > h3
          display: none

        h3:first-child + section
          @include span-e(4)
          @include start(1)

          @media #{$medium-down}
            @include span(12)

          h2
            display: none

        .images
          @include span(5)
          @include grid(2)
          grid-auto-rows: 20em

          @media #{$medium-down}
            @include span(12)

          figure
            cursor: pointer

          & > figure:nth-child(2n-1)
            &:not(:first-child)
              img
                border-top: none

              & + figure
                img
                  border-top: none

            & + figure
              figcaption
                border-left: none

              img
                border-left: none

          & > figure:nth-of-type(2n+1):last-child:not(:first-child)
            @include span(2)

            img
              border-top: none

        .sale_infos
          @include span-e(3)
          @include start(10)

          @media #{$medium-down}
            @include span(12)

        .description
          @include start(2)
          @include span-e(8)

          @media #{$medium-down}
            @include span(12)

        & > figure:last-child
          @include span(3)

          @media #{$medium-down}
            @include span(12)

      #boutique-container
        &.with_filters
          @include grid(12)
          @include gap-(2)

          @media #{$medium-down}
            grid-template-columns: repeat(1, 1fr)

        &.with_filters #boutique
          @include span(9)
          grid-template-columns: repeat(4, 1fr)

        .product_categories-right
          @include span(3)

          @media #{$medium-down}
            order: -1

        #boutique
          @include grid(5)
          @include gap-(2)
          grid-auto-rows: 20em

          @media #{$medium-down}
            grid-template-columns: repeat(1, 1fr)

          article
            h3
              display: none

      #boutique
        figure
          &.hover_figure
            .info_price
              right: 1px
              top: 1px
              position: absolute
              border-top-right-radius: 0.25em
              border-bottom-left-radius: 0.25em
              background-color: #ffe9d1
              padding: 0.5em
              text-align: center
              box-sizing: border-box
              font-weight: bold

            .info_compo
              right: 1px
              top: 10em
              position: absolute
              background-color: #ffe9d1
              padding: 0.5em
              text-align: center
              box-sizing: border-box
              font-weight: bold

            .info_reduction
              left: 1px
              top: 1px
              position: absolute
              display: block
              border-top-left-radius: 0
              border-bottom-right-radius: 0.25em
              background-color: #eeb991
              padding: 0.5em
              text-align: center
              box-sizing: border-box
              font-weight: bold

      nav
        ul
          @include m(0)

      & > :is(h1, h2, h3, h4, h5, h6):first-child
        display: none

      & > :not(:is(h1, h2, h3, h4, h5, h6)):first-of-type
        @include mt(0)

      & > nav.product_categories
        @include my-(10)

        ul
          @include grid(8)
          @include gap-(3)
          @include pl-(0)
          list-style: none

          @media #{$medium-down}
            grid-template-columns: repeat(1, 1fr)

          li
            width: 100%

            &.is-active a
              background: linear-gradient(-90deg, #ffb358 0%, rgba(0, 0, 0, 0) 75%)

            a
              @include py-(5)
              @include radius(3)
              width: 100%
              text-align: center
              display: inline-block

              &:hover
                background: linear-gradient(-90deg, darken(#ffcf95, 12) 0%, rgba(0, 0, 0, 0) 75%)

      & > div.filters
        @include my-(10)
        @include grid(2)
        align-items: center
        @include gap-(3)

        @media #{$medium-down}
          grid-template-columns: repeat(1, 1fr)

        & > nav.order_filters
          ul
            @include grid(3)
            @include gap-(3)
            @include pl-(0)
            list-style: none

            li
              width: 100%

              a
                @include py-(2)
                @include radius(3)
                width: 100%
                text-align: center
                display: inline-block

        & > nav.range_filter
          background: linear-gradient(90deg, #ffcf95 0%, rgba(0, 0, 0, 0) 50%, #ffcf95 100%)
          @include radius(3)

          ul
            @include px-(3)
            @include py-(2)
            list-style: none

            li
              @include grid(6)

              .dr_value_left
                text-align: left

              .double_range
                background-color: darken(#ffcf95, 12)

              .dr_value_right
                text-align: right

              .double_range_temoin
                background-color: white

              div:nth-child(2)
                @include span(4)

                @media #{$medium-down}
                  @include span(6)

              @media #{$medium-down}
                div:not(:nth-child(2))
                  @include span(6)

        li.is-active a, a:hover
          background: linear-gradient(90deg, darken(#ffcf95, 12) 0%, rgba(0, 0, 0, 0) 75%)


  .navbar
    position: relative
    z-index: 1
    color: white
    @include grid(4)
    @include gap-(2)
    @include mb-(10)
    background: linear-gradient(180deg, #ffcf95 95%, #ffeee5 100%)
    @include py-(5)

    a
      text-decoration: none

    & > ul
      list-style: none
      @include grid(6)
      @include px-(0)
      @include gap-(2)
      align-items: center
      @include m(0)

      #navbar-basket
        span
          @include p-(2)
          @include m(2)
          @include radius(2)
          background-color: white

      & > li.is-active > a
        background: linear-gradient(90deg, darken(#ffcf95, 10) 0%, rgba(0, 0, 0, 0) 100%)

      &:first-child
        @include start(1)
        @include end(2)
        @media #{$x-large-down}
          @include span(4)

        & > li
          @include span(1)

          @media #{$x-large-down}
            @include span(4)

          &:first-child
            display: flex
            align-items: center
            @include span(2)

            @media #{$x-large-down}
              @include span(6)

            & > img
              width: 100%
              height: 125px

          &:not(:first-child)
            a
              color: black
              @include py-(4)
              @include radius(2)
              display: inline-block
              text-align: center
              width: 100%

            @media #{$x-large-down}
              @include span(3)

          &:not(:first-child):hover > a
            background: linear-gradient(90deg, darken(#ffcf95, 10) 0%, rgba(0, 0, 0, 0) 100%)

      &:last-child
        justify-items: center
        @include span(2)
        @media #{$x-large-down}
          @include span(4)

        & > li
          @include span(2)

          @media #{$x-large-down}
            @include span(6)

          & > a
            color: black
            @include py-(2)
            @include radius(2)
            display: inline-block
            text-align: center

          &:hover > a
            background: linear-gradient(90deg, darken(#ffcf95, 10) 0%, rgba(0, 0, 0, 0) 100%)
