.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-primary {
  --bs-table-bg: #fff5ea;
  --bs-table-striped-bg: #f2e9de;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e6ddd3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ece3d8;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e6ddd3;
}

.table-secondary {
  --bs-table-bg: #e2e3e5;
  --bs-table-striped-bg: #d7d8da;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #cbccce;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #d1d2d4;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #cbccce;
}

.table-success {
  --bs-table-bg: #d1e7dd;
  --bs-table-striped-bg: #c7dbd2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1d6cc;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #bcd0c7;
}

.table-info {
  --bs-table-bg: #cff4fc;
  --bs-table-striped-bg: #c5e8ef;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #badce3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfe2e9;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #badce3;
}

.table-warning {
  --bs-table-bg: #fff3cd;
  --bs-table-striped-bg: #f2e7c3;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e6dbb9;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ece1be;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e6dbb9;
}

.table-danger {
  --bs-table-bg: #f8d7da;
  --bs-table-striped-bg: #eccccf;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfc2c4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5c7ca;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #dfc2c4;
}

.table-light {
  --bs-table-bg: #f8f9fa;
  --bs-table-striped-bg: #ecedee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #dfe0e1;
}

.table-dark {
  --bs-table-bg: #212529;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #373b3e;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: 0.75s linear infinite spinner-grow;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
.spinner-grow {
    animation-duration: 1.5s;
  }
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  color: #ffcf95;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}
.page-link:hover {
  z-index: 2;
  color: #cca677;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  z-index: 3;
  color: #cca677;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 207, 149, 0.25);
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #ffcf95;
  border-color: #ffcf95;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link {
  padding: 0.375rem 0.75rem;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background: #ffcf95;
  box-sizing: border-box;
  margin: 0;
  color: black;
}
body #main_logo {
  margin: 0.75em auto;
  height: 120px;
}
body .is-hidden {
  display: none;
}
body strong {
  font-weight: 700;
}
body .btn-group {
  display: flex;
  justify-content: space-between;
}
body .btn-group button:not(:last-child) {
  margin-right: 0.5em;
}
body select {
  padding: 0.5em;
  width: 100%;
  background-color: #ffe7db;
  border: 1px solid black;
  border-radius: 0.5em;
  cursor: pointer;
}
body select option {
  border-radius: 0em;
  background-color: white;
}
body input[type=text], body input[type=submit], body button[type=submit], body input[type=email], body button[type=button] {
  font-size: 16px;
  padding: 0.5em;
  width: calc(100% - 1em - 2px);
  border: 1px solid black;
}
body input[type=submit], body button[type=submit], body button[type=button] {
  width: 100%;
  background-color: #ffe7db;
  border-radius: 0.5em;
  cursor: pointer;
}
body input[type=submit]:hover, body button[type=submit]:hover, body button[type=button]:hover {
  background-color: #ffddcc;
}
body a {
  color: #492800;
}
body figure {
  margin: 0em;
  box-sizing: border-box;
}
body figure.hover_figure {
  margin: 0em;
  padding: 0em;
  position: relative;
  height: 100%;
}
body figure.hover_figure img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid #f37333 1px;
}
body figure.hover_figure:hover figcaption {
  display: block;
}
body figure.hover_figure figcaption {
  bottom: 0;
  left: 0;
  position: absolute;
  display: none;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
  border: solid #f37333 1px;
}
body figure img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
body #submit_basket button {
  margin-bottom: 1em;
}
body #promo_form {
  margin-bottom: 1em;
}
body #promo_form form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1em;
  align-items: end;
}
body #promo_form form .errors {
  grid-column: span 4;
}
@media only screen and (max-width: 768px) {
  body #promo_form form > * {
    grid-column: span 4;
  }
}
body footer {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  justify-items: center;
}
@media only screen and (max-width: 992px) {
  body footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  body footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
body footer > .logos > h3 {
  display: none;
}
body footer > .logos img {
  height: 150px;
}
body footer > section .payments_mode > figure {
  display: inline-block;
}
body video {
  width: 100%;
}
body .wrapper {
  display: grid;
  grid-auto-rows: auto;
  background-color: #fffbf9;
  padding-bottom: 6.25em;
  position: relative;
}
body .wrapper footer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: url("../images/footer.png");
  height: 77px;
  width: 100%;
}
body main.gridded {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
}
body main.gridded > .flash-message {
  grid-column-start: 2;
  grid-column-end: span 12;
  padding: 0.75em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  background: radial-gradient(circle, white 89%, #ffeee5 100%);
}
@media only screen and (max-width: 768px) {
  body main.gridded > .flash-message {
    grid-column-start: 2;
    grid-column-end: 24;
  }
}
body main.gridded > .main {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 24;
  color: black;
  z-index: 0;
}
body main.gridded > .main > .catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1em;
}
@media only screen and (max-width: 1200px) {
  body main.gridded > .main > .catalog {
    grid-template-columns: repeat(1, 1fr);
  }
}
body main.gridded > .main > .catalog #current_url_products {
  display: none;
}
body main.gridded > .main > .catalog > nav.product_categories {
  grid-column: span 1;
  grid-row: 1/3;
  border-right: 1px solid #cccccc;
}
@media only screen and (max-width: 1200px) {
  body main.gridded > .main > .catalog > nav.product_categories {
    border-right: unset;
    grid-row: unset;
  }
}
body main.gridded > .main > .catalog > nav.product_categories ul {
  padding-left: 0em;
  list-style: none;
}
body main.gridded > .main > .catalog > nav.product_categories ul li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
body main.gridded > .main > .catalog > nav.product_categories ul li a:hover {
  background: #ffc886;
}
body main.gridded > .main > .catalog > nav.product_categories ul li.is-active a {
  background: #ffc886;
}
body main.gridded > .main > .catalog > nav.product_categories ul li a {
  padding: 0.25em;
  display: block;
  text-align: left;
}
body main.gridded > .main > .catalog > #boutique-container {
  grid-column: span 4;
}
@media only screen and (max-width: 1200px) {
  body main.gridded > .main > .catalog > #boutique-container {
    grid-column: span 1;
  }
}
body main.gridded > .main > .catalog > div.filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  align-items: center;
  grid-gap: 1.5em;
  grid-column: span 4;
}
@media only screen and (max-width: 1200px) {
  body main.gridded > .main > .catalog > div.filters {
    grid-column: span 1;
    margin-bottom: 0em;
  }
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main > .catalog > div.filters {
    grid-template-columns: repeat(1, 1fr);
  }
}
body main.gridded > .main > .catalog > div.filters > nav.order_filters ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1.5em;
  padding-left: 0em;
  list-style: none;
}
body main.gridded > .main > .catalog > div.filters > nav.order_filters ul li {
  width: 100%;
}
body main.gridded > .main > .catalog > div.filters > nav.order_filters ul li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  text-align: center;
  display: inline-block;
}
body main.gridded > .main > .catalog > div.filters li.is-active a, body main.gridded > .main > .catalog > div.filters a:hover {
  background: white;
  border: 1px solid #cccccc;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter {
  background: linear-gradient(90deg, #ffcf95 0%, rgba(0, 0, 0, 0) 50%, #ffcf95 100%);
  border-radius: 0.75em;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter ul {
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li .dr_value_left {
  text-align: left;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li .double_range {
  background-color: #ffb358;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li .dr_value_right {
  text-align: right;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li .double_range_temoin {
  background-color: white;
}
body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li div:nth-child(2) {
  grid-column: span 4;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li div:nth-child(2) {
    grid-column: span 6;
  }
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main > .catalog > div.filters > nav.range_filter ul li div:not(:nth-child(2)) {
    grid-column: span 6;
  }
}
body main.gridded > .main .order_retrieve {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main .order_retrieve {
    width: 100%;
  }
}
body main.gridded > .main .order_retrieve form {
  display: grid;
  grid-gap: 1.5em;
}
body main.gridded > .main .order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
}
body main.gridded > .main .order .order_form {
  background: radial-gradient(circle, white 89%, #ffeee5 100%);
}
body main.gridded > .main .order .order_form h2 {
  text-align: center;
}
body main.gridded > .main .order .order_form form {
  padding: 0.75em;
}
body main.gridded > .main .order .order_form .form_fill_3 {
  width: 80%;
  margin: 0 auto;
}
body main.gridded > .main .order .order_form .form_fill_1 {
  display: grid;
  grid-gap: 1.5em;
}
body main.gridded > .main .order .order_form .form_fill_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1.5em;
}
body main.gridded > .main .order .order_form .form_fill_2 h3:first-of-type {
  margin-top: 0em !important;
}
body main.gridded > .main .order .order_form .form_fill_2 #delivery_address.expand {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  column-gap: 0.75em;
}
body main.gridded > .main .order .order_form .form_fill_2 #delivery_address.expand > h3 {
  grid-column: span 2;
}
body main.gridded > .main .order .order_form .form_fill_2 #delivery_address.expand > *:not(:nth-child(-n+3)) {
  grid-column: span 2;
}
body main.gridded > .main .order .order_form .form_fill_2 #delivery_address.expand ~ section {
  display: none;
}
body main.gridded > .main .order .order_form .form_fill_2 .btn-group {
  grid-column: span 2;
}
body main.gridded > .main .order > h2 {
  word-break: break-word;
}
body main.gridded > .main .order > *:nth-child(-n+2) {
  grid-column: span 2;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main .order > *:not(:nth-child(-n+2)) {
    grid-column: span 2;
  }
}
body main.gridded > .main #detail {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1em;
}
body main.gridded > .main #detail > h3 {
  display: none;
}
body main.gridded > .main #detail h3:first-child + section {
  grid-column-end: span 4;
  grid-column-start: 1;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #detail h3:first-child + section {
    grid-column: span 12;
  }
}
body main.gridded > .main #detail h3:first-child + section h2 {
  display: none;
}
body main.gridded > .main #detail .images {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-auto-rows: 20em;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #detail .images {
    grid-column: span 12;
  }
}
body main.gridded > .main #detail .images figure {
  cursor: pointer;
}
body main.gridded > .main #detail .images > figure:nth-child(2n-1):not(:first-child) img {
  border-top: none;
}
body main.gridded > .main #detail .images > figure:nth-child(2n-1):not(:first-child) + figure img {
  border-top: none;
}
body main.gridded > .main #detail .images > figure:nth-child(2n-1) + figure figcaption {
  border-left: none;
}
body main.gridded > .main #detail .images > figure:nth-child(2n-1) + figure img {
  border-left: none;
}
body main.gridded > .main #detail .images > figure:nth-of-type(2n+1):last-child:not(:first-child) {
  grid-column: span 2;
}
body main.gridded > .main #detail .images > figure:nth-of-type(2n+1):last-child:not(:first-child) img {
  border-top: none;
}
body main.gridded > .main #detail .sale_infos {
  grid-column-end: span 3;
  grid-column-start: 10;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #detail .sale_infos {
    grid-column: span 12;
  }
}
body main.gridded > .main #detail .description {
  grid-column-start: 2;
  grid-column-end: span 8;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #detail .description {
    grid-column: span 12;
  }
}
body main.gridded > .main #detail > figure:last-child {
  grid-column: span 3;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #detail > figure:last-child {
    grid-column: span 12;
  }
}
body main.gridded > .main #boutique-container.with_filters {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1em;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #boutique-container.with_filters {
    grid-template-columns: repeat(1, 1fr);
  }
}
body main.gridded > .main #boutique-container.with_filters #boutique {
  grid-column: span 9;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 576px) {
  body main.gridded > .main #boutique-container.with_filters #boutique {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 1200px) {
  body main.gridded > .main #boutique-container.with_filters #boutique {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  body main.gridded > .main #boutique-container.with_filters #boutique {
    grid-template-columns: repeat(1, 1fr);
  }
}
body main.gridded > .main #boutique-container .product_categories_right {
  grid-column: span 3;
  border-left: 1px solid #cccccc;
}
@media only screen and (max-width: 576px) {
  body main.gridded > .main #boutique-container .product_categories_right {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 1200px) {
  body main.gridded > .main #boutique-container .product_categories_right {
    padding-left: 0em;
    border-left: unset;
  }
}
body main.gridded > .main #boutique-container .product_categories_right > ul {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-left: 0em;
}
body main.gridded > .main #boutique-container .product_categories_right > ul > li {
  list-style: none;
}
body main.gridded > .main #boutique-container .product_categories_right > ul > li a {
  padding: 0.25em;
  display: block;
}
body main.gridded > .main #boutique-container .product_categories_right > ul > li li:not(.active) a {
  background: #fffbf9 !important;
}
body main.gridded > .main #boutique-container .product_categories_right li.active a {
  background: #ffc886;
}
body main.gridded > .main #boutique-container .product_categories_right h2 {
  margin-top: 0em !important;
  margin-bottom: 0.5em;
  padding: 0.25em;
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #boutique-container .product_categories_right {
    order: -1;
  }
}
body main.gridded > .main #boutique {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1em;
  grid-auto-rows: 20em;
}
@media only screen and (max-width: 1200px) {
  body main.gridded > .main #boutique {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  body main.gridded > .main #boutique {
    grid-template-columns: repeat(1, 1fr);
  }
}
body main.gridded > .main #boutique article h3 {
  display: none;
}
body main.gridded > .main #boutique figure.hover_figure .info_price {
  right: 1px;
  top: 1px;
  position: absolute;
  border-top-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  background-color: #ffe9d1;
  padding: 0.5em;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
}
body main.gridded > .main #boutique figure.hover_figure .info_compo {
  right: 1px;
  top: 10em;
  position: absolute;
  background-color: #ffe9d1;
  padding: 0.5em;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
}
body main.gridded > .main #boutique figure.hover_figure .info_reduction {
  left: 1px;
  top: 1px;
  position: absolute;
  display: block;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0.25em;
  background-color: #eeb991;
  padding: 0.5em;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
}
body main.gridded > .main nav ul {
  margin: 0em;
}
body main.gridded > .main #boutique_pagination {
  grid-column-start: 2;
  grid-column-end: span 4;
  margin-top: 0.75em !important;
}
body main.gridded > .main #boutique_pagination .page-link {
  color: black;
}
body main.gridded > .main > :is(h1, h2, h3, h4, h5, h6):first-child {
  display: none;
}
body main.gridded > .main > :not(:is(h1, h2, h3, h4, h5, h6)):first-of-type {
  margin-top: 0em !important;
}
body .navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  grid-gap: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.75em;
  position: relative;
  z-index: 1;
  color: white;
  background: #ffcf95;
}
body .navbar a {
  text-decoration: none;
  padding: 0.5em;
  display: block;
}
body .navbar > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  box-sizing: border-box;
  padding-left: 0em;
  padding-right: 0em;
  grid-gap: 1em;
  margin: 0em;
  align-items: center;
}
body .navbar > ul #navbar-basket {
  position: relative;
}
body .navbar > ul #navbar-basket span {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: white;
}
body .navbar > ul #navbar-basket nav {
  position: absolute;
  display: none;
}
body .navbar > ul #navbar-basket nav a {
  text-decoration: underline;
}
body .navbar > ul #navbar-basket nav > ul, body .navbar > ul #navbar-basket nav > div {
  direction: initial;
  text-align: left;
  border: 1px solid #cccccc;
  padding: 0.5em;
  background: white;
  color: black;
  width: 480px;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  list-style: none;
}
@media only screen and (max-width: 992px) {
  body .navbar > ul #navbar-basket nav > ul, body .navbar > ul #navbar-basket nav > div {
    width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  body .navbar > ul #navbar-basket nav > ul, body .navbar > ul #navbar-basket nav > div {
    width: 300px;
  }
}
body .navbar > ul #navbar-basket nav > ul:not(:last-child) {
  margin-bottom: 0em;
}
body .navbar > ul #navbar-basket nav > ul:not(:first-child) {
  border-radius: 0 0 0.25em 0.25em;
}
body .navbar > ul #navbar-basket nav::before {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  display: block;
  height: 0.5em;
  background: #4c4c4c;
  width: 25px;
  margin-right: 85px;
}
body .navbar > ul > li.is-active > a {
  background: linear-gradient(90deg, #ffb862 0%, rgba(0, 0, 0, 0) 100%);
}
body .navbar > ul:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media only screen and (max-width: 1200px) {
  body .navbar > ul:first-child {
    justify-items: center;
    grid-column: span 4;
  }
}
body .navbar > ul:first-child::before {
  content: "";
  display: block;
}
@media only screen and (max-width: 1200px) {
  body .navbar > ul:first-child::before {
    display: none;
  }
}
body .navbar > ul:first-child > li {
  grid-column: span 1;
}
@media only screen and (max-width: 1200px) {
  body .navbar > ul:first-child > li {
    grid-column: span 3;
  }
}
body .navbar > ul:first-child > li a {
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  text-align: center;
}
body .navbar > ul:first-child > li a:hover {
  background: linear-gradient(90deg, #ffb862 0%, rgba(0, 0, 0, 0) 100%);
}
body .navbar > ul:last-child {
  grid-column: span 2;
  direction: rtl;
}
body .navbar > ul:last-child #navbar-basket {
  grid-column: span 4;
}
body .navbar > ul:last-child #navbar-basket:hover nav {
  display: block;
}
@media only screen and (max-width: 576px) {
  body .navbar > ul:last-child {
    justify-items: unset;
  }
}
@media only screen and (max-width: 1200px) {
  body .navbar > ul:last-child {
    grid-column: span 4;
  }
}
body .navbar > ul:last-child > li {
  grid-column: span 2;
}
@media only screen and (max-width: 1200px) {
  body .navbar > ul:last-child > li {
    grid-column: span 6;
  }
}
body .navbar > ul:last-child > li > a {
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  body .navbar > ul:last-child > li > a {
    margin: 0 auto;
  }
}
body .navbar > ul:last-child > li > a:hover {
  background: linear-gradient(90deg, #ffb862 0%, rgba(0, 0, 0, 0) 100%);
}

/*# sourceMappingURL=design.css.map */
