.py-4 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.mt-5 {
    margin-top: 2.5rem;
}

.gap-5 {
    gap: 2rem;
}

.text-dark {
    color: black;
}

.text-white {
    color: white;
}

.w-50 {
    width: 50%;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.d-flex {
    display: flex;
}

.gap-3 {
    gap: 1rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.bg-white {
    background-color: white;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}

.rounded-2 {
    border-radius: .75em;
}

.d-inline-block {
    display: inline-block;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 1rem;
}

.grid {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    box-sizing: border-box;
}

.column_centered {
    grid-column: 2 / span 10;
}

.row_no_end {
    grid-column: 1/-1;
}

.span_2 {
    grid-column: 2 span;
}

.span_3 {
    grid-column: 3 span;
}

.span_4 {
    grid-column: 4 span;
}

.span_5 {
    grid-column: 5 span;
}

.span_6 {
    grid-column: 6 span;
}

.span_7 {
    grid-column: 7 span;
}

.span_8 {
    grid-column: 8 span;
}

.span_9 {
    grid-column: 9 span;
}

.span_10 {
    grid-column: 10 span;
}

.span_11 {
    grid-column: 11 span;
}

.span_12 {
    grid-column: 12 span;
}

.start_1 {
    grid-column-start: 1;
}

.start_2 {
    grid-column-start: 2;
}

.start_3 {
    grid-column-start: 3;
}

.start_4 {
    grid-column-start: 4;
}

.start_5 {
    grid-column-start: 5;
}

.start_6 {
    grid-column-start: 6;
}

.start_7 {
    grid-column-start: 7;
}

.start_8 {
    grid-column-start: 8;
}

.start_9 {
    grid-column-start: 9;
}

.start_10 {
    grid-column-start: 10;
}

.start_11 {
    grid-column-start: 11;
}

.start_12 {
    grid-column-start: 12;
}

.end_1 {
    grid-column-end: 2;
}

.end_2 {
    grid-column-end: 3;
}

.end_3 {
    grid-column-end: 4;
}

.end_4 {
    grid-column-end: 5;
}

.end_5 {
    grid-column-end: 6;
}

.end_6 {
    grid-column-end: 7;
}

.end_7 {
    grid-column-end: 8;
}

.end_8 {
    grid-column-end: 9;
}

.end_9 {
    grid-column-end: 10;
}

.end_10 {
    grid-column-end: 11;
}

.end_11 {
    grid-column-end: 12;
}

.end_12 {
    grid-column-end: 13;
}

a {
    color: unset;
}

.link-warning {
    color: #81410a;
}

.link-dark {
    color: black;
}

a:visited {
    color: unset;
}

.header {
    position: absolute;
    text-align: center;
    z-index: 1;
    background: linear-gradient(60deg, #ff7916 0%, #ffb183 100%);
    color: white;
    width: 100%;
}

.inner-header {
    height: 180px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #f7fafb;
    z-index: 0;
    row-gap: 1em;
}

.wrapper > * {
    z-index: 3;
}

.bottom_wave {
    margin-top: 50px;
}

.inner-header.small_inner {
    height: 105px;
}

.waves {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

body > footer {
    border-top: 2px solid #ff6c00;
}

body {
    background: #ffe2d1;
    font-family: \"Gill Sans\", sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    margin: 0;
}

div.covered_image.image1 {
    background-image: url("../images/paris.jpg");
}

div.covered_image.image2 {
    background-image: url("../images/paris2.jpg");
}

div.covered_image {
    background-image: url("../images/autumn1.jpg");
    background-position: center;
    background-size: cover;
}

figure img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

figure {
    margin: 0;
}

figure.hover_figure figcaption {
    bottom: 0;
    left: 0;
    position: absolute;
    display: none;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background: rgba(255, 255, 255, 0.85);
    padding: 0.50em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    border-top: 0.1em solid black;
}

figure.hover_figure img {
    width: 100%;
    height: 100%;
}

figure.hover_figure {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

figure.hover_figure:hover figcaption {
    display: block;
}

figure.mt-1 {
    margin-bottom: 0.2em;
}

li {
    list-style-type: unset;
}

main h3, main h2, .modal h3, .modal h2 {
    display: flex;
    justify-content: space-between;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

table.basket-table {
    margin: 0;
    border-style: hidden;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.form-control {
    padding: .75em;
    box-sizing: border-box;
}

.is-hidden {
    display: none;
}

.modal-header > h3 {
    margin: 0;
    width: 100%;
}

.modal-header {
    background-color: #ffe2d1;
    border-bottom: 0.1em solid #ff6c00;
}

nav.navbar.navigation ul {
    border: 1px solid black;
    overflow: hidden;
}


.navbar ul > li {
    display: flex;
    padding: 0.5em;
    align-items: center;
    border-left: .1em solid black;
}

.navbar ul > li.brand {
    border-left: unset;
}

.navbar ul > li.brand {
    margin-right: 1em;
    font-family: cursive;
}

.navbar ul > li.link a {
    padding: 0.5em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.navbar ul > li.link {
    padding: unset;
    display: block;
    align-items: unset;
}

.navbar ul > li.link.is-active {
    background-color: #9e3b49;
    font-weight: bold;
    color: white;
}

.navbar ul > li.link:hover {
    background-color: #ba6c6d;
    color: white;
}

.navbar ul > li.logo {
    border-right: unset;
}

.navbar ul > li:first-child {
    border-left: unset;
}

.navbar ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar > ul {
    display: flex;
}

.navbar {
    height: auto;
}

.no-flex {
    display: inherit;
}

.pointer {
    cursor: pointer;
}

.spinner-border {
    color: #ff7c2f;
}

.title_not_centered {
    justify-content: unset;
}

#basket-form form > ul {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 1em;
}

#logo_grid .fig4 img {
    height: 5em;
}

#logo_grid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}
