.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

main .navbar ul > li {
    flex: 1;
}

main .navbar ul > li.link a {
    justify-content: center;
}

main .navbar ul > li.link.is-active {
    background-color: #9e3b49;
    color: white;
}

main h2.is_colored {
    background-color: #ffe2d1;
    border-bottom: 0.1em solid #ff6c00;
    padding: 0.5em;
    color: #2f2f2f;
}

#addBasketForm > ul {
    margin-bottom: 0;
}

#boutique > article > *:not(figure) {
    display: none;
}

#boutique article figure.hover_figure .info_price {
    right: -1px;
    top: 1px;
    position: absolute;
    display: none;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    background-color: #ffe2d1;
    padding: 0.5em;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

figure.hover_figure.border figcaption, #boutique figure.hover_figure figcaption {
    left: 1px;
}

#boutique article figure.hover_figure .info_reduction {
    left: 1px;
    top: 1px;
    position: absolute;
    display: block;
    border-top-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: #dd9a24;
    padding: 0.5em;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

#boutique > article figure.hover_figure:hover .info_price {
    display: block;
}

#boutique > article {
    margin: 0 auto;
}

#boutique {
    grid-template-rows: 20em;
}

#boutique figure.hover_figure img, figure.hover_figure.border img {
    border: solid black 1px;
}

#detail .box .content {
    padding: 1em;
}

#detail .box h3 {
    border-bottom: 0.1em solid #ff6c00;
    padding: 1em;
    margin: 0;
    box-sizing: content-box;
}

#detail .box {
    border: 0.1em solid #ff6c00;
}

#detail div > .box:not(:last-child) {
    border-bottom: unset;
}

.info_description *:first-child {
    margin-top: 0;
}

.info_description *:last-child {
    margin-bottom: 0;
}