#boutique {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 23em;
}

#boutique > .title,
#boutique > .counter {
    grid-column: 1 / 5;
}

#boutique > article {
    grid-column: auto;
    grid-row: auto;
    margin: 0 auto;
}

#boutique > article > *:not(figure) {
    display: none;
}

#boutique > article figure.hover_figure .info_reduction {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    border-bottom-right-radius: 0.25em;
    background-color: #dd9a24;
    padding: 0.5em;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

#boutique > article figure.hover_figure .info_price {
    right: 0;
    top: 0;
    position: absolute;
    display: none;
    border-bottom-left-radius: 0.25em;
    background-color: #ff8033;
    padding: 0.5em;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

#boutique > article figure.hover_figure:hover .info_price {
    display: block;
}

#detail {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:  .7fr 1fr .7fr;
    grid-gap: 1em;
}

#order-fill form {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:  1fr 1fr;
    grid-gap: 1em;
}

#order-fill form .form-control {
    width: 80%;
}

#order-fill form > p:nth-of-type(4), #order-fill form > p:nth-of-type(7), #order-fill form > input:last-child {
    grid-column: 1;
}

#order-fill > form p {
    display: flex;
    justify-content: right;
    align-items: center;
}

#order-fill > form p label {
    margin-right: 0.5em;
}

#detail .image_produits {
    grid-row: 1;
    grid-column: 2;
}

#detail .info_sale {
    grid-row: 1;
    grid-column: 3;
}

#detail .image_licence {
    grid-column: 3;
}

#detail .info_description {
    grid-row: 2;
    grid-column: 2;
}

#detail .info_description h2, #detail .info_description h3 {
    display: unset;
}

#detail .info_description h2::after, #detail .info_description h3::after, #detail .info_description h2::before, #detail .info_description h3::before {
    display: none;
}

main h2.is_colored {
    background-color: #ffe2d1;
    border-bottom: 0.1em solid #ff6c00;
    padding: 0.5em;
    color: #2f2f2f;
}

main > section h2.is_colored:first-child {
    margin-top: 0;
}

#detail .box {
    border: 0.1em solid #ff6c00;
}

#detail .box h3 {
    border-bottom: 0.1em solid #ff6c00;
    padding: 1em;
    margin: 0;
    box-sizing: content-box;
}

#detail .box .content {
    padding: 1em;
}

#detail div > .box:not(:last-child) {
    border-bottom: unset;
}

#detail figure.grid {
    height: 20em;
}

#detail > figure {
    grid-column: 1;
}

.image_produits {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}

main .navbar {
    background-color: unset;
    border-radius: unset;
    margin-bottom: 1em;
}

main .navbar ul > li.link.is-active {
    background-color: #9e3b49;
    color: white;
}

main .navbar ul > li.link a {
    justify-content: center;
}

main .navbar ul > li {
    flex: 1;
}

#addBasketForm {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: auto;
}

#addBasketForm > ul {
    grid-column: 1 / 3;
    margin-bottom: 0;
}

#addBasketForm .quantity {
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

#addBasketForm .submit {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}