form.horizontale .form-control {
    width: 70%;
}

form.horizontale div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .navbar ul > li {
    flex: 1;
}

main .navbar ul > li.link a {
    justify-content: center;
}

main .navbar ul > li.link.is-active {
    background-color: #9e3b49;
    color: white;
}

main .navbar {
    background-color: unset;
    border-radius: unset;
    margin-bottom: 1em;
}

main > section h2.is_colored:first-child {
    margin-top: 0;
}

main h2.is_colored {
    background-color: #ffe2d1;
    border-bottom: 0.1em solid #ff6c00;
    padding: 0.5em;
    color: #2f2f2f;
}

#addBasketForm > ul {
    margin-bottom: 0;
}

#boutique > article > *:not(figure) {
    display: none;
}

#boutique > article figure.hover_figure .info_price {
    right: 0;
    top: 0;
    position: absolute;
    display: none;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    background-color: #ffe2d1;
    padding: 0.5em;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

#boutique > article figure.hover_figure .info_reduction {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    border-top-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: #dd9a24;
    padding: 0.5em;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

#boutique > article figure.hover_figure:hover .info_price {
    display: block;
}

#boutique > article {
    margin: 0 auto;
}

#boutique {
    grid-auto-rows: 23em;
}

#detail .box .content {
    padding: 1em;
}

#detail .box h3 {
    border-bottom: 0.1em solid #ff6c00;
    padding: 1em;
    margin: 0;
    box-sizing: content-box;
}

#detail .box {
    border: 0.1em solid #ff6c00;
}

#detail div > .box:not(:last-child) {
    border-bottom: unset;
}