@media screen and (max-width: 992px) {
    .span_md_2 {
        grid-column: 2 span;
    }

    .span_md_3 {
        grid-column: 3 span;
    }

    .span_md_4 {
        grid-column: 4 span;
    }

    .span_md_5 {
        grid-column: 5 span;
    }

    .span_md_6 {
        grid-column: 6 span;
    }

    .span_md_7 {
        grid-column: 7 span;
    }

    .span_md_8 {
        grid-column: 8 span;
    }

    .span_md_9 {
        grid-column: 9 span;
    }

    .span_md_10 {
        grid-column: 10 span;
    }

    .span_md_11 {
        grid-column: 11 span;
    }

    .span_md_12 {
        grid-column: 12 span;
    }

    .start_md_1 {
        grid-column-start: 1;
    }

    .start_md_2 {
        grid-column-start: 2;
    }

    .start_md_3 {
        grid-column-start: 3;
    }

    .start_md_4 {
        grid-column-start: 4;
    }

    .start_md_5 {
        grid-column-start: 5;
    }

    .start_md_6 {
        grid-column-start: 6;
    }

    .start_md_7 {
        grid-column-start: 7;
    }

    .start_md_8 {
        grid-column-start: 8;
    }

    .start_md_9 {
        grid-column-start: 9;
    }

    .start_md_10 {
        grid-column-start: 10;
    }

    .start_md_11 {
        grid-column-start: 11;
    }

    .start_md_12 {
        grid-column-start: 12;
    }


    .row_md_1 {
        grid-row: 1;
    }

    .row_md_2 {
        grid-row: 2;
    }

    .row_md_3 {
        grid-row: 3;
    }

    .row_md_4 {
        grid-row: 4;
    }

    .row_md_5 {
        grid-row: 5;
    }

    .row_md_6 {
        grid-row: 6;
    }

    .row_md_7 {
        grid-row: 7;
    }

    .row_md_8 {
        grid-row: 8;
    }

    .row_md_9 {
        grid-row: 9;
    }

    .row_md_10 {
        grid-row: 10;
    }

    .row_md_11 {
        grid-row: 11;
    }

    .row_md_12 {
        grid-row: 12;
    }

    .d-flex {
        flex-direction: column;
    }

    ul.d-flex > li {
        border: none;
    }

    nav.navbar.navigation ul {
        border: 1px solid black;
        overflow: hidden;
    }

    .bottom_wave {
        margin-top: unset;
    }

    table {
        display: table-caption;
        overflow-x: scroll;
        padding: 0 !important;
    }

    .w-50 {
        width: initial !important;
    }

    .is-hidden-md {
        display: none!important;
    }

    main :is(h1, h2, h3, h4, h5, h6) {
        word-break: break-word;
    }
}

@media screen and (max-width: 768px) {
    .span_sm_2 {
        grid-column: 2 span;
    }

    .gap-5 {
        column-gap: 0 !important;
    }

    .span_sm_3 {
        grid-column: 3 span;
    }

    .span_sm_4 {
        grid-column: 4 span;
    }

    .span_sm_5 {
        grid-column: 5 span;
    }

    .span_sm_6 {
        grid-column: 6 span;
    }

    .span_sm_7 {
        grid-column: 7 span;
    }

    .span_sm_8 {
        grid-column: 8 span;
    }

    .span_sm_9 {
        grid-column: 9 span;
    }

    .span_sm_10 {
        grid-column: 10 span;
    }

    .span_sm_11 {
        grid-column: 11 span;
    }

    .span_sm_12 {
        grid-column: 12 span;
    }

    .start_sm_1 {
        grid-column-start: 1;
    }

    .start_sm_2 {
        grid-column-start: 2;
    }

    .start_sm_3 {
        grid-column-start: 3;
    }

    .start_sm_4 {
        grid-column-start: 4;
    }

    .start_sm_5 {
        grid-column-start: 5;
    }

    .start_sm_6 {
        grid-column-start: 6;
    }

    .start_sm_7 {
        grid-column-start: 7;
    }

    .start_sm_8 {
        grid-column-start: 8;
    }

    .start_sm_9 {
        grid-column-start: 9;
    }

    .start_sm_10 {
        grid-column-start: 10;
    }

    .start_sm_11 {
        grid-column-start: 11;
    }

    .start_sm_12 {
        grid-column-start: 12;
    }

    .row_sm_1 {
        grid-row: 1;
    }

    .row_sm_2 {
        grid-row: 2;
    }

    .row_sm_3 {
        grid-row: 3;
    }

    .row_sm_4 {
        grid-row: 4;
    }

    .row_sm_5 {
        grid-row: 5;
    }

    .row_sm_6 {
        grid-row: 6;
    }

    .row_sm_7 {
        grid-row: 7;
    }

    .row_sm_8 {
        grid-row: 8;
    }

    .row_sm_9 {
        grid-row: 9;
    }

    .row_sm_10 {
        grid-row: 10;
    }

    .row_sm_11 {
        grid-row: 11;
    }

    .row_sm_12 {
        grid-row: 12;
    }
}

@media screen and (max-width: 768px) {
    .span_xs_2 {
        grid-column: 2 span;
    }

    .span_xs_3 {
        grid-column: 3 span;
    }

    .span_xs_4 {
        grid-column: 4 span;
    }

    .span_xs_5 {
        grid-column: 5 span;
    }

    .span_xs_6 {
        grid-column: 6 span;
    }

    .span_xs_7 {
        grid-column: 7 span;
    }

    .span_xs_8 {
        grid-column: 8 span;
    }

    .span_xs_9 {
        grid-column: 9 span;
    }

    .span_xs_10 {
        grid-column: 10 span;
    }

    .span_xs_11 {
        grid-column: 11 span;
    }

    .span_xs_12 {
        grid-column: 12 span;
    }

    .start_xs_1 {
        grid-column-start: 1;
    }

    .start_xs_2 {
        grid-column-start: 2;
    }

    .start_xs_3 {
        grid-column-start: 3;
    }

    .start_xs_4 {
        grid-column-start: 4;
    }

    .start_xs_5 {
        grid-column-start: 5;
    }

    .start_xs_6 {
        grid-column-start: 6;
    }

    .start_xs_7 {
        grid-column-start: 7;
    }

    .start_xs_8 {
        grid-column-start: 8;
    }

    .start_xs_9 {
        grid-column-start: 9;
    }

    .start_xs_10 {
        grid-column-start: 10;
    }

    .start_xs_11 {
        grid-column-start: 11;
    }

    .start_xs_12 {
        grid-column-start: 12;
    }


    .row_xs_1 {
        grid-row: 1;
    }

    .row_xs_2 {
        grid-row: 2;
    }

    .row_xs_3 {
        grid-row: 3;
    }

    .row_xs_4 {
        grid-row: 4;
    }

    .row_xs_5 {
        grid-row: 5;
    }

    .row_xs_6 {
        grid-row: 6;
    }

    .row_xs_7 {
        grid-row: 7;
    }

    .row_xs_8 {
        grid-row: 8;
    }

    .row_xs_9 {
        grid-row: 9;
    }

    .row_xs_10 {
        grid-row: 10;
    }

    .row_xs_11 {
        grid-row: 11;
    }

    .row_xs_12 {
        grid-row: 12;
    }

    .d-xs-flex {
        flex-direction: column;
    }

    .d-xs-flex > * {
        border: none !important;
    }
}
