@page {
    size: A4 portrait;
}

h1, h2, h3, h4 {
    margin: 5px auto;
    font-weight: 800;
}

strong, b {
    font-weight: 800;
}

p {
    margin: 4px auto;
}

body {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    font-family: natom-pro, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #212529 !important;
    grid-gap: 2px !important;
    -webkit-text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: transparent !important;
    width: 21.05cm;
    height: 29.7cm;
    word-break: break-word;
}

.start_1 {
    grid-column-start: 1;
}

.start_2 {
    grid-column-start: 2;
}

.start_3 {
    grid-column-start: 3;
}

.start_4 {
    grid-column-start: 4;
}

.start_5 {
    grid-column-start: 5;
}

.start_6 {
    grid-column-start: 6;
}

.start_7 {
    grid-column-start: 7;
}

.start_8 {
    grid-column-start: 8;
}

.start_9 {
    grid-column-start: 9;
}

.start_10 {
    grid-column-start: 10;
}

.start_11 {
    grid-column-start: 11;
}

.start_12 {
    grid-column-start: 12;
}

.end_1 {
    grid-column-end: 2;
}

.end_2 {
    grid-column-end: 3;
}

.end_3 {
    grid-column-end: 4;
}

.end_4 {
    grid-column-end: 5;
}

.end_5 {
    grid-column-end: 6;
}

.end_6 {
    grid-column-end: 7;
}

.end_7 {
    grid-column-end: 8;
}

.end_8 {
    grid-column-end: 9;
}

.end_9 {
    grid-column-end: 10;
}

.end_10 {
    grid-column-end: 11;
}

.end_11 {
    grid-column-end: 12;
}

.end_12 {
    grid-column-end: 13;
}

a:visited {
    color: blue;
}

.grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(12, 1fr);
}

.img_main_cv {
    border-radius: 1em;
    height: 100%;
}

.font_size_title {
    font-size: 2.5rem;
}

.font_size_sub {
    font-size: 1.2rem;
}

.mx_auto {
    margin: 0 auto;
}

.text_right {
    text-align: right;
}

.p_absolute {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bg_light_blue {
    background-color: rgb(199, 222, 255);
    border-radius: 1em;
}

.pad_1 {
    padding: 8px;
}

.pad_2 {
    padding: 9px;
}

.ps_1 {
    padding-left: 10px;
}

.pb_1 {
    padding-bottom: 5px;
}

.pb_2 {
    padding-bottom: 9px;
}


.mx_1 {
    margin: auto 10px;
}

.ps_2 {
    padding-left: 5px;
}

.pe_2 {
    padding-right: 5px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li span {
    position: relative;
    left: -10px;
}

li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 3px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.text-right {
    text-align: right;
}

.border_dash {
    border: black dashed 2px;
}

.mt_1 {
    margin-top: 3px;
}

.mb_5 {
    margin-bottom: 32px;
}

.mb_1 {
    margin-bottom: 3px;
}

.grid-middle {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(12, 1fr);
    align-self: center;
}