<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
<p>Bonjour {{ ordered.last_name|upper }} {{ ordered.first_name|capfirst }},</p>
<p>Tout d'abord, merci pour votre achat ;)</p>
<p>Dans ce mail vous trouverez plusieurs informations.
<p>
<p>
    <strong>Pour retrouver la commande sur le site:</strong><br>
    <strong>UUID</strong>: {{ ordered.pk }}<br>
    <strong>SECRET</strong>: {{ ordered.secrets }}
</p>
<p>
    <strong>Et votre facture en pièce jointe</strong> au format PDF.
</p>
<p>Cordialement, {{ website_title }}.</p>
</body>
</html>