{% load currency %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
<div class="text_right">
    <p>
        Envoyé à<br>
        <strong>{{ ordered.last_name|upper }} {{ ordered.first_name|capfirst }}</strong><br>
        {{ ordered.address }}<br>
        {% if ordered.address2 %}
        {{ ordered.address2 }}<br>        
        {% endif %}
        {{ ordered.postal_code }}, {{ ordered.city }}<br>
        France<br>
        Tél: {{ ordered.phone }}
    </p>
</div>

<table>
    <thead>
    <tr>
        <th scope="col">Facture</th>
        <th scope="col" colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>N° de facture</td>
        <td>{{ ordered.pk }}</td>
    </tr>
    <tr>
        <td>Date de facture</td>
        <td>{{ ordered.invoice_date }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><strong>À payer EUR</strong></td>
        <td>{{ ordered.price_exact_ttc_with_quantity_sum|to_currency }}€</td>
    </tr>
    </tfoot>
</table>

<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom du produit</th>
        <th scope="col">Prix unitaire (HT)</th>
        <th scope="col">Dont réduction (%)</th>
        <th scope="col">Quantité</th>
        <th scope="col">Sous Total (HT)</th>
    </tr>
    </thead>
    <tbody>
    {% for orderedproduct in ordered.from_ordered.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                {% if orderedproduct.to_product %}
                    <a href="{% url "catalogue_product_detail" orderedproduct.to_product.slug %}">{{ orderedproduct.product_name }}</a>
                {% else %}
                    {{ orderedproduct.product_name }}
                {% endif %}
            </td>
            <td>{{ orderedproduct.price_exact_ht|to_currency }}€</td>
            <td>
                {% if orderedproduct.effective_reduction > 0 %}
                    -{{ orderedproduct.effective_reduction }}%
                {% else %}
                    Pas de reduction.
                {% endif %}
            </td>
            <td>
                {{ orderedproduct.quantity }} unité(s)
            </td>
            <td>{{ orderedproduct.price_exact_ht_with_quantity|to_currency }}€</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>

        <td colspan="4"></td>
        <td><strong>Total (HT)</strong></td>
        <td>{{ ordered.price_exact_ht_with_quantity_sum|to_currency }}€</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td><strong>TVA {{ tva|floatformat:2 }}%</strong></td>
        <td>{{ ordered.price_exact_ht_with_quantity_sum|deduce_tva|to_currency }}€</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td><strong>TOTAL (TTC)</strong></td>
        <td>{{ ordered.price_exact_ttc_with_quantity_sum|to_currency }}€</td>
    </tr>
    </tfoot>
</table>

<p>
    {{ website_title }}.
</p>

</body>
</html>