{% extends 'elococo/base.html' %}

{% block body_class %}
main_expand_left
{% endblock %}

{% block base_container %}
<section class="start_1 end_5">
    <h2 class="is_colored">Commande #{{ ordered.order_number }}</h2>
    <section>
        <h3 class="title_not_centered">Récapitulatif de cette commande</h3>
        {% include "sale/ordered_recap.html" with ordered=ordered %}
    </section>
</section>
<div class="covered_image image1 start_6">
</div>
<div class="covered_image start_1">
</div>
{% include "sale/ordered_informations.html" with ordered=ordered %}
{% if ordered.ordered_is_enable %}
<section class="start_4 end_6">
    <h2 class="no-flex is_colored">Formulaire d'informations générales</h2>
    <form class="horizontale" action="{% url 'sale:fill' ordered.pk %}" method="post">
        {% csrf_token %}
        <div>
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }} : </label>
            {{ form.email }}
        </div>

        <div>
            {{ form.phone.errors }}
            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }} : </label>
            {{ form.phone }}
        </div>

        <input type="submit" class="btn btn-success" value="Suivant" />
    </form>
</section>
{% endif %}
{% endblock %}