<section class="section-border-right">
    <h2 class="no-flex is_colored">Informations à propos de cette commande</h2>
    <p>
        Cette réservation a été crée le <strong>{{ ordered.createdAt }}</strong>.
    </p>
    {% if ordered.payment_status %}
        <p>
            Cette commande a été payé.
        </p>
        <p>
            Vous pouvez retrouver un duplicata de votre facture <a href="">ICI</a>.
        </p>
        <p>
            Vous recevrez votre commande sous peu à l'adresse:
        </p>
        <p>
            {{ ordered.last_name }} {{ first_name }}<br>
            {{ ordered.address }}<br>
            {{ ordered.address2 }}<br>
            {{ ordered.postal_code }}<br>
            {{ ordered.city }}<br>
            Tél: {{ ordered.phone }}
        </p>
    {% else %}
        <p>
            Notre site e-commerce prend en considération un stock disponible.<br>
            Nous ne vendons pas un produit qui n'est pas en stock.<br>
            Vos quantités réservés seront donc disponible pendant un temps restreint.<br>
            Si le paiement de la reservation est effective, la reservation sera permanent.
        </p>
        {% if ordered.ordered_is_enable %}
            <p>
                Cette réservation est <strong>active</strong>
                jusqu'au <strong>{{ ordered.effective_end_time_payment }}</strong>.
            </p>
            <p>
                Si vous ne procédez pas au paiement de cette commande avant l'échéance, la réservation sera annulée
                et les quantités des produits demandés seront restituées en boutique.
            </p>
            <p>
                <strong>Tous nos produits sont envoyés avec colissimo</strong>. Avec suivi.<br>
                Il y a donc pas de choix de mode de livraisons.
            </p>
        {% else %}
            <p>
                Cette réservation est <strong>inactive</strong>.<br>
                Son échéance était le {{ ordered.effective_end_time_payment }}.
            </p>
            <p>
                Vous ne pouvez plus procéder au paiement ni renseigner vos coordonnées.<br>
                Les quantités réservés ont été restitués en boutique.
            </p>
            <p>
                Vous pourrez <strong>refaire une autre réservation dans au plus 10 minutes.</strong><br>
                Cette réservation sera bien entendue supprimer de nos bases données.
            </p>
        {% endif %}

    {% endif %}
</section>