{% extends 'elococo/base.html' %}

{% block head_js %}
    {% if  ordered.ordered_is_enable and not ordered.payment_status %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endif %}
{% endblock %}

{% block base_container %}
    <section class="start_1 end_5">
        <h2 class="is_colored">Commande #{{ ordered.order_number }}</h2>
        <section>
            <h3 class="title_not_centered">Récapitulatif de cette commande</h3>
            {% include "sale/ordered_recap.html" with ordered=ordered %}
        </section>
    </section>
    <div class="covered_image image2 start_6"></div>
    <div class="covered_image start_1"></div>
    {% include "sale/ordered_informations.html" with ordered=ordered %}
    {% if ordered.ordered_is_enable and not ordered.payment_status %}
        <section class="start_4 end_6">
            <h2 class="no-flex is_colored">Formulaire de paiement</h2>
            <input type="button"id="checkout-button" class="btn btn-success" value="Payer {{ amount }} EUR"/>
        </section>
    {% endif %}
{% endblock %}

{% block body_js %}
    {% if public_api_key %}
  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ public_api_key }}");
    var checkoutButton = document.getElementById("checkout-button");

    const headers = new Headers({
        'X-CSRFToken': "{{ csrf_token }}"
    })

    checkoutButton.addEventListener("click", function () {
      fetch("{% url "sale:detail" ordered.pk %}", {
        method: "POST",
        headers,
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
    {% endif %}
{% endblock %}
