{% extends 'elococo/base.html' %}

{% if ordered.ordered_is_enabled and not ordered.payment_status %}
    {% block head_js %}
        <script src="https://js.braintreegateway.com/web/dropin/1.29.0/js/dropin.min.js"></script>
    {% endblock %}
{% endif %}

{% block body_class %}
    main_expand_left
{% endblock %}

{% block base_container %}
    <section>
        <h2 class="is_colored">Commande #{{ ordered.order_number }}</h2>
        <section>
            <h3 class="title_not_centered">Récapitulatif de cette commande</h3>
            {% include "sale/ordered_recap.html" with ordered=ordered %}
        </section>
    </section>
    <div class="covered_image">
    </div>
    {% include "sale/ordered_informations.html" with ordered=ordered %}
    {% if ordered.ordered_is_enable and not ordered.payment_status %}
        <section class="right-two-span">
            <h2 class="no-flex is_colored">Formulaire de paiement</h2>
            <form id="payment-form" action="{% url "sale:detail" ordered.pk %}" method="post">
                {% csrf_token %}
                {% if braintree_error %}
                    <div class="alert alert-danger">
                        {{ braintree_error|safe }}
                    </div>
                {% endif %}
                <div class="braintree-notifications"></div>
                <div id="dropin-container"></div>
                <input type="submit" class="btn btn-success" value="Payer"/>
                <input type="hidden" id="nonce" name="payment_method_nonce"/>
            </form>
        </section>
    {% endif %}
{% endblock %}

{% if ordered.ordered_is_enabled and not ordered.payment_status %}
    {% block body_js %}
        <script type="application/javascript">
            const braintree_form = document.getElementById('payment-form');

            braintree.dropin.create({
                authorization: "{{ client_token }}",
                container: '#dropin-container',
                paypal: {
                    flow: 'vault'
                },
                locale: 'fr_FR'
            }, (error, dropinInstance) => {
                if (error) console.error(error);

                braintree_form.addEventListener('submit', event => {
                    event.preventDefault();

                    dropinInstance.requestPaymentMethod((error, payload) => {
                        if (error) console.error(error);

                        // Step four: when the user is ready to complete their
                        //   transaction, use the dropinInstance to get a payment
                        //   method nonce for the user's selected payment method, then add
                        //   it a the hidden field before submitting the complete form to
                        //   a server-side integration
                        document.getElementById('nonce').value = payload.nonce;
                        braintree_form.submit();
                    });
                });
            });
        </script>
    {% endblock %}
{% endif %}