{% extends 'elococo/base.html' %}
{% load static %}

{% block body_class %}
    main_expand_left
{% endblock %}

{% block base_container %}
    <section>
        <h2 class="is_colored">Commande #{{ ordered.order_number }}</h2>
        <section>
            <h3 class="title_not_centered">Récapitulatif de cette commande</h3>
            {% include "sale/ordered_recap.html" with ordered=ordered %}
        </section>
    </section>
    <div class="covered_image">
    </div>
    {% include "sale/ordered_informations.html" with ordered=ordered %}
    {% if ordered.ordered_is_enable %}
        <section class="right-two-span" id="order-fill">
            <h2 class="no-flex is_colored">Pour passer au
                paiement, il vous faut remplir vos coordonnées</h2>
            <form action="{% url 'sale:fill' ordered.pk %}"
                  method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Envoyer mes coordonnées"/>
            </form>
        </section>
    {% endif %}
{% endblock %}
