{% extends 'elococo/base_small_wave.html' %}

{% block base_container %}
    <section class="column_centered">
        <h2>Commande #{{ pk }}</h2>
        <section>
            <h3>Bonne nouvelle ! Paiement réussi !</h3>
            <p>Un mail contenant une facture va vous être envoyé. Pensez à regarder dans vos SPAM.</p>
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p>
                Patientez quelques instants..(10secs) Vous allez être redirigé.
            </p>
        </section>
    </section>
{% endblock %}

{% block body_js %}
    <script type="application/javascript">
        function post(path, params, method = 'post') {

            // The rest of this code assumes you are not using a library.
            // It can be made less verbose if you use one.
            const form = document.createElement('form');
            form.method = method;
            form.action = path;

            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        window.setTimeout(function () {
            post("{% url 'sale:retrieve' %}", {
                secrets: "{{ secrets }}",
                pk: "{{ pk }}",
                csrfmiddlewaretoken: "{{ csrf_token }}"
            });
        }, 10000);
    </script>
{% endblock %}
