{% extends 'elococo/base.html' %}

{% block base_container %}
    {% if ordered %}
        <section class="order retrieve_order">
            <h2>Commande #{{ ordered.order_number }}</h2>
            <section>
                <h3>Récapitulatif de cette commande</h3>
                {% include "sale/ordered_recap.html" with ordered=ordered %}
            </section>
            {% if form.cleaned_data.attempt and not ordered.payment_status %}
                <section>
                    <h2>Informations à propos de cette commande</h2>
                    <p>Le paiement a échoué. <strong>Vous n'avez pas été débité.</strong></p>
                    <p>Le manque de stock d'un des produits de votre commande a invalidé votre paiement.</p>
                    <p>Cette invalidation a entrainé l'annulation de cette commande.</p>
                </section>
            {% else %}
                <section>
                    {% include "sale/ordered_informations.html" with ordered=ordered %}
                </section>
            {% endif %}
        </section>
    {% else %}
        <section class="order_retrieve">
            <h2>Retrouver une commande</h2>
            <p>
                Ses informations sont disponible dans l'email contenant votre facture.
            </p>
            <form action="{% url 'sale:retrieve' %}"
                  method="post">
                {% csrf_token %}
                <div>
                    {{ form.pk.errors }}
                    <label for="{{ form.pk.id_for_label }}">UUID:</label>
                    {{ form.pk }}
                </div>
                <div>
                    {{ form.secrets.errors }}
                    <label for="{{ form.secrets.id_for_label }}">Secret:</label>
                    {{ form.secrets }}
                </div>
                <input type="submit" value="Retrouver une commande"/>
            </form>
        </section>
    {% endif %}
{% endblock %}
