{% extends 'elococo/base.html' %}

{% block body_class %}
    main_expand_left
{% endblock %}

{% block base_container %}
    {% if ordered %}
        <section class="column_centered span_md_12">
            <h2>Commande #{{ ordered.order_number }}</h2>
            <section>
                <h3 class="title_not_centered">Récapitulatif de cette commande</h3>
                {% include "sale/ordered_recap.html" with ordered=ordered %}
            </section>
        </section>
        <div class="covered_image span_2 is-hidden-md">
        </div>
        {% include "sale/ordered_informations.html" with ordered=ordered %}
    {% else %}
        <section class="column_centered span_md_12">
            <h2>Retrouver une commande</h2>
            <div class="w-50 alert alert-primary">
                Ses informations sont disponible dans l'email contenant votre facture.
            </div>
            <form class="w-50 ps-3" action="{% url 'sale:retrieve' %}"
                  method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.pk.errors }}
                    <label for="{{ form.pk.id_for_label }}">UUID:</label>
                    {{ form.pk }}
                </div>
                <div class="mb-3">
                    {{ form.secrets.errors }}
                    <label for="{{ form.secrets.id_for_label }}">Secret:</label>
                    {{ form.secrets }}
                </div>
                <input type="submit" class="btn btn-success" value="Retrouver une commande"/>
            </form>
        </section>
    {% endif %}
{% endblock %}
