{% load currency %}
{% load getter %}
{% load static %}

{% if products|length > 0 %}
    <ul class="table table-striped">
        {% for product in products %}
            <li>
                <a href="{% url "catalogue_product_detail" product.0.slug %}">{{ product.0.name }}</a>
                <ul>
                    <li>X{{ basket|get_dict:product.slug|get_dict:"quantity" }}
                        - {{ product.price_exact_ttc_with_quantity|floatformat:2 }}€
                    </li>
                </ul>
            </li>
        {% endfor %}

        {% if promo is not None %}
            <li>
                <strong>Promo</strong>
                <ul>
                    {% if promo.type == "pe" %}
                        <li>-{{ promo.value }}%</li>
                    {% else %}
                        <li>-{{ promo.value }}€</li>
                    {% endif %}
                </ul>
            </li>
            <li><strong>{{ aggregate.price_exact_ttc_with_quantity_promo__sum|floatformat:2 }}€</strong></li>
        {% else %}
            <li><strong>{{ aggregate.price_exact_ttc_with_quantity__sum|floatformat:2 }}€</strong></li>
        {% endif %}
    </ul>
    {% if delivery_free_gt <= aggregate.price_exact_ttc_with_quantity__sum %}
        <strong>La livraison est offerte.</strong>
    {% else %}
        <strong>Un tarif de livraison sera à prendre en compte.</strong>
    {% endif %}
{% else %}
    <ul>
        <li>
            Votre panier est vide :)
        </li>
    </ul>
{% endif %}
