<nav class="navbar navigation border bg-white mb-3 span_6">
    <ul class="d-flex rounded-2">
        {% if order is not None and order == 0 %}
            <li class="link is-active">
                {% else %}
            <li class="link">
        {% endif %}
        {% if slug_category %}
            <a href="{% url 'catalogue_navigation_categories' slug_category %}?order=asc">
                prix croissant
            </a>
        {% else %}
            <a href="{% url 'catalogue_index' %}?order=asc">
                prix croissant
            </a>
        {% endif %}
        </li>
        {% if order == 1 %}
            <li class="link is-active">
                {% else %}
            <li class="link">
        {% endif %}
        {% if slug_category %}
            <a href="{% url 'catalogue_navigation_categories' slug_category %}?order=desc">
                prix décroissant
            </a>
        {% else %}
            <a href="{% url 'catalogue_index' %}?order=desc">
                prix décroissant
            </a>
        {% endif %}
        </li>
    </ul>
</nav>