<nav class="navbar navigation border bg-white mb-3 span_5 rounded-2">
    <ul class="d-flex">
        {% if order is not None and order == 0 %}
            <li class="link is-active">
                {% else %}
            <li class="link">
        {% endif %}
        {% if slug_category %}
            <a href="{% url 'catalogue_navigation_categories' slug_category %}?order=asc">
                prix croissant
            </a>
        {% else %}
            <a href="{% url 'catalogue_index' %}?order=asc">
                prix croissant
            </a>
        {% endif %}
        </li>
        {% if order == 1 %}
            <li class="link is-active">
                {% else %}
            <li class="link">
        {% endif %}
        {% if slug_category %}
            <a href="{% url 'catalogue_navigation_categories' slug_category %}?order=desc">
                prix décroissant
            </a>
        {% else %}
            <a href="{% url 'catalogue_index' %}?order=desc">
                prix décroissant
            </a>
        {% endif %}
        </li>
    </ul>
</nav>

<form action="" class="start_8 end_12">
    <nav class="navbar navigation navigation_form border bg-white mb-3 rounded-2">
        <ul class="d-flex">
            <li class="grid dr_grid">
                <div class="dr_value_left span_2 text-right" data-dr-left="{{ price_exact_ttc__min|floatformat:2 }}">
                    {{ price_exact_ttc__min|floatformat:2 }} €
                </div>
                <div class="span_8 dr_main">
                    <div class="dr_wrapper">
                        <div class="dr_box"></div>
                    </div>
                    <div class="dr_wrapper">
                        <div class="dr_box"></div>
                    </div>
                    <div class="double_range_temoin">
                    </div>
                    <div class="double_range">
                    </div>
                </div>
                <div class="span_2 dr_value_right" data-dr-right="{{ price_exact_ttc__max|floatformat:2 }}">
                    {{ price_exact_ttc__max|floatformat:2 }} €
                </div>
            </li>
        </ul>
    </nav>
</form>