<nav class="navbar navigation border bg-white mb-3 span_5 rounded-2">
    <ul class="d-flex filters">
        {% if order is not None and order == 0 %}
            <li class="link is-active">
                {% else %}
            <li class="link">
        {% endif %}
        <a href="" data-url-key="order" data-url-value="asc">
            prix croissant
        </a>
        </li>
        {% if order == 1 %}
            <li class="link is-active">
                {% else %}
            <li class="link">
        {% endif %}
        <a href="" data-url-key="order" data-url-value="desc">
            prix décroissant
        </a>
        </li>
        {% if order == -1 %}
            <li class="link is-active">
                {% else %}
            <li class="link">
        {% endif %}
        <a href="" data-url-key="order">
            derniers ajouts
        </a>
        </li>
    </ul>
</nav>

<form action="" class="start_8 end_12">
    <nav class="navbar navigation navigation_form border bg-white mb-3 rounded-2">
        <ul class="d-flex">
            <li class="grid dr_grid" id="products_dr">
                <div class="dr_value_left span_2 text-right" data-dr-left="{{ price_exact_ttc__min|floatformat:2 }}">
                    {{ price_exact_ttc__min|floatformat:2 }} €
                </div>
                <div class="span_8 dr_main">
                    <div class="dr_wrapper">
                        <div class="dr_box"></div>
                    </div>
                    <div class="dr_wrapper">
                        <div class="dr_box"></div>
                    </div>
                    <div class="double_range_temoin">
                    </div>
                    <div class="double_range">
                    </div>
                </div>
                <div class="span_2 dr_value_right" data-dr-right="{{ price_exact_ttc__max|floatformat:2 }}">
                    {{ price_exact_ttc__max|floatformat:2 }} €
                </div>
            </li>
        </ul>
    </nav>
</form>