{% extends 'elococo/base.html' %}
{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static "css/double_range.css" %}">
{% endblock %}

{% block base_container %}
    <h2 class="text-center start_2 end_12">Boutique</h2>
    {% if product_list %}
        {% include "catalogue/navigation.html" with categories=filled_category index=index only %}
        {% include "catalogue/filtres.html" %}
        {% if filter_list is None %}
            <div id="boutique" class="grid span_12 span_md_12 gap-3">
        {% else %}
            <div id="boutique" class="grid span_9 span_md_12 gap-3">
        {% endif %}
    {% include "catalogue/products_list.html" %}
    </div>
        {% if filter_list is not None %}
            <section class="span_3 span_md_12 row_md_3 border-start border-primary border-3 ps-3">
                <h2>Filtres associés</h2>
                {% for category, info in filter_list %}
                    {% if info.open %}
                        <ul>

                        {% if selected_category.slug == category.slug %}
                            <li class="link-warning">
                                {% else %}
                            <li class="link-dark">
                        {% endif %}

                    {% else %}
                    </li>
                        {% if selected_category.slug == category.slug %}
                            <li class="link-warning">
                                {% else %}
                            <li class="link-dark">
                        {% endif %}
                    {% endif %}

                <a href="{% url 'catalogue_navigation_categories' category.slug %}">{{ category.category }}
                    ({{ category.products_count__sum }})</a>

                {% for close in info.close %}
                    </li></ul>
                {% endfor %}
                {% endfor %}
            </section>
        {% endif %}
        <span id="current_url_products" data-url="{{ current_url }}"></span>
    {% else %}
        <div class="span_12">Il n'y a plus de produits en stocks ! Revennez un autre jour.</div>
    {% endif %}
{% endblock %}

{% block body_js %}
    <script src="{% static "js/dr.js" %}"></script>
    <script>
        function on_up_dr_produtts(left, right) {
            if (!httpRequest) {
                alert('Abandon :( Impossible de créer une instance de XMLHTTP');
                return false;
            }

            let url = new URL(document.getElementById("current_url_products").getAttribute("data-url"), window.location.origin);
            url.searchParams.set('min_ttc_price', left);
            url.searchParams.set('max_ttc_price', right);

            httpRequest.onload = callback_onload_products_filter(null, url.pathname + url.search);
            httpRequest.open('GET', url.pathname + url.search);
            httpRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            httpRequest.responseType = 'json';
            httpRequest.send();
        }

        dr(document.getElementById("products_dr"), on_up_dr_produtts);

        let boutique = document.getElementById("boutique");

        function callback_onload_products_filter(event, url) {
            return function onload_products_filter() {
                document.getElementById("current_url_products").setAttribute("data-url", url);
                if (event !== null) {
                    let ul_filters = event.target.parentElement.parentElement;
                    ul_filters.querySelector("li.is-active").classList.remove("is-active");
                    event.target.parentElement.classList.add("is-active");
                }
                let products = httpRequest.response;
                boutique.innerHTML = products.html;
            }
        }

        function get_products_filter(event) {
            event.preventDefault();
            if (!httpRequest) {
                alert('Abandon :( Impossible de créer une instance de XMLHTTP');
                return false;
            }

            let url = new URL(document.getElementById("current_url_products").getAttribute("data-url"), window.location.origin);

            if (event.currentTarget.getAttribute("data-url-key") !== "") {
                if (event.currentTarget.getAttribute("data-url-value") === null) {
                    url.searchParams.delete(event.currentTarget.getAttribute("data-url-key"));
                } else {
                    url.searchParams.set(event.currentTarget.getAttribute("data-url-key"),
                        event.currentTarget.getAttribute("data-url-value"));
                }
            }

            httpRequest.onload = callback_onload_products_filter(event, url.pathname + url.search);
            httpRequest.open('GET', url.pathname + url.search);
            httpRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            httpRequest.responseType = 'json';
            httpRequest.send();
        }

        let filter;
        for (filter of document.querySelectorAll(".filters a")) {
            filter.addEventListener("click", get_products_filter)
        }
    </script>
{% endblock %}