{% extends 'elococo/base.html' %}

{% block base_container %}
    <div class="covered_image image1"></div>
    <section class="start_2 end_6">
        <h2 class="is_colored">Boutique</h2>
        {% if product_list %}
            {% include "catalogue/navigation.html" with categories=filled_category index=index only %}

            <div id="boutique" class="grid">
             {% for product in product_list %}
                <article>
                    <h3 class="is-hidden">{{ product.name|title }}</h3>
                    {% with product_image=product.productimage_set.first %}
                        {% if product_image %}
                            <figure class="hover_figure">
                                <a href="{% url 'catalogue_product_detail' product.slug %}">
                                    <img class="rounded" src="{{ product_image.image.url }}"
                                            alt="product_{{ forloop.counter }}_{{ product.name }}"/>
                                </a>
                                {% if product.effective_reduction > 0 %}
                                    <div class="info_reduction">
                                        - {{ product.effective_reduction }}%
                                    </div>
                                {% endif %}
                                <div class="info_price">
                                    {{ product.price_exact_ttc|floatformat:2 }} € TTC
                                </div>
                                <figcaption>
                                    {{ product.name|title }}
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endwith %}
                </article>
            {% endfor %}
            <section class="row_no_end start_6 border-start border-primary border-3 ps-3">
            <h2>Filtres associés</h2>

            {% if filter_list %}
                {% for category, info in filter_list %}
                    {% if info.open %}
                        <ul><li>
                    {% else %}
                        </li><li>
                    {% endif %}

                    <a href="{% url 'catalogue_navigation_categories' category.slug %}">{{ category.category }}</a>

                    {% for close in info.close %}
                        </li></ul>
                    {% endfor %}
                {% endfor %}            
            {% endif %}

            </section>
        </div>
        {% else %}
            Il n'y a plus de produits en stocks ! Revennez un autre jour.
        {% endif %}
    </section>
{% endblock %}
