{% for product in product_list %}
    <article>
        <h3>{{ product.name|title }}</h3>
        {% with product_image=product.productimage_set.all.0 %}
            {% if product_image %}
                <figure>
                    <a href="{% url 'catalogue_product_detail' product.slug %}">
                        <img src="{{ product_image.image.url }}"
                             alt="product_{{ forloop.counter }}_{{ product.name }}"/>
                    </a>
                    {% if product.effective_reduction > 0 %}
                        <div>
                            - {{ product.effective_reduction }}%
                        </div>
                    {% endif %}
                    <div>
                        {{ product.price_exact_ttc|floatformat:2 }} € TTC
                    </div>
                    {% if product.box.all|length > 0 %}
                        <div>
                            Compo !
                        </div>
                    {% endif %}
                    <figcaption>
                        {{ product.name|title }}
                    </figcaption>
                </figure>
            {% endif %}
        {% endwith %}
    </article>
{% empty %}
    <h3>Aucun résultats pour ses filtres.</h3>
{% endfor %}