{% extends 'elococo/base.html' %}
{% load static %}

{% block body_class %}
    main_expand_left
{% endblock %}

{% block base_container %}
    <section id="catalogue" class="start_1 end_5">
        <h2 class="is_colored">{{ product.name|title }}</h2>
        <article id="detail">
            <h3 class="is-hidden">Details</h3>

            <div class="image_produit">
                <div class="spinner-border text-info" role="status"></div>
            </div>

            <div class="image_produits grid">
                {% for product_image in product.productimage_set.all %}
                    <figure class="hover_figure span_3">
                        <img src="{{ product_image.image.url }}"
                             alt="product_{{ forloop.counter }}_{{ product.name }}"/>
                        <figcaption>
                            Image du produit n°{{ forloop.counter }}
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>

            <div class="info_description">
                <div class="card text-dark bg-light">
                    <div class="card-header">Description du produit</div>
                    <div class="card-body">
                        <div class="card-text">{{ product.description|safe }}</div>
                    </div>
                </div>
            </div>

            <div class="info_sale">
                <section class="box">
                    <h3>Informations de vente</h3>
                    <div class="content">
                        <p>Son prix à l'unité est de <strong>{{ product.price_exact_ttc|floatformat:2 }} € TTC</strong>.
                        </p>
                        {% if product.effective_reduction > 0 %}
                            <p>Il y a une réduction de <strong>-{{ product.effective_reduction }}%</strong> sur ce
                                produit.</p>
                            <p>
                                Cette réduction se termine le <u>{{ product.reduction_end }} à 23h59</u>
                                (Heure Europe/Paris, UTC+2).
                            </p>
                            <p>Son prix de base était de {{ product.price_base_ttc|floatformat:2 }} € TTC.</p>
                        {% endif %}
                        <p>
                            {% if product.stock <= 0 %}
                                Ce produit n'a plus de stock, essayez un autre jours.
                            {% elif product.stock <= 5 %}
                                Il ne reste plus que <strong>{{ product.stock }} unité(s)</strong> de ce produit en
                                stock !
                            {% else %}
                                <strong>Ce produit est en stock !</strong>
                            {% endif %}
                        </p>
                    </div>
                </section>
                <section class="box">
                    <h3>Commandes</h3>
                    <div class="content">
                        <form id="addBasketForm"
                              action="{% url 'catalogue_product_detail' product.slug %}"
                              method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                {{ form.non_field_errors }}
                            {% endif %}

                            <div class="quantity">
                                <label class="form-label"
                                       for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="bi-sort-numeric-down"></i></span>
                                    {{ form.quantity }}
                                </div>
                                <div class="form-text">
                                    {{ form.quantity.help_text }}
                                </div>
                                {{ form.quantity.errors }}
                            </div>
                            <div class="submit">
                                <input type="submit" class="btn btn-success" value="Ajouter dans le panier"/>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <figure class="image_licence">
                <img src="{% static "images/rule1.bmp" %}" alt="licence">
                <figcaption>Images Licence</figcaption>
            </figure>
        </article>
    </section>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="application/javascript">
        // From IB - {% now "Y" %}
        let image_product = document.querySelector("#detail .image_produit");
        let images_products = document.querySelector("#detail .image_produits");
        let height_images_products = images_products.offsetHeight;
        let figures = images_products.querySelectorAll(":scope figure");

        function treatment_image(figure) {
            let figure_clone = figure.cloneNode(true);
            figure_clone.classList.remove("grid", "pointer");
            figure_clone.style.height = height_images_products.toString() + "px";
            image_product.innerHTML = "";
            image_product.appendChild(figure_clone);
        }

        function handle_image_product(event) {
            treatment_image(event.currentTarget);
        }

        function initListener() {
            try {
                let first_figure = figures[0];
                treatment_image(first_figure);
            } catch (e) {
                return false;
            }

            for (const figure of figures) {
                figure.addEventListener("click", handle_image_product, false);
                figure.classList.add("pointer");
            }

            return true;
        }

        setTimeout(initListener, 500);

        {% if basket_updated %}
            let basket_modal_call = new bootstrap.Modal(basket_modal, {
                keyboard: false
            })
            basket_modal_call.show();
            basket_modal_showed = true;
        {% endif %}
    </script>
{% endblock %}