{% for product in product_list %}
    <article class="span_3 span_md_6 span_xs_12">
        <h3 class="is-hidden">{{ product.name|title }}</h3>
        {% with product_image=product.productimage_set.all.0 %}
            {% if product_image %}
                <figure class="hover_figure">
                    <a href="{% url 'catalogue_product_detail' product.slug %}">
                        <img class="rounded" src="{{ product_image.image.url }}"
                             alt="product_{{ forloop.counter }}_{{ product.name }}"/>
                    </a>
                    {% if product.effective_reduction > 0 %}
                        <div class="info_reduction">
                            - {{ product.effective_reduction }}%
                        </div>
                    {% endif %}
                    <div class="info_price">
                        {{ product.price_exact_ttc|floatformat:2 }} € TTC
                    </div>
                    {% if product.box.all|length > 0 %}
                        <div class="info_compo">
                            Compo !
                        </div>
                    {% endif %}
                    <figcaption>
                        {{ product.name|title }}
                    </figcaption>
                </figure>
            {% endif %}
        {% endwith %}
    </article>
{% empty %}
    <h3 class="span_12">Aucun résultats pour ses filtres.</h3>
{% endfor %}