{% for product in product_list %}
    {% with product_image=product.productimage_set.all.0 %}
        {% if product_image %}
            <article>
                <h3>{{ product.name|title }}</h3>

                <figure class="hover_figure">
                    <a href="{% url 'catalogue_product_detail' product.slug %}">
                        <img src="{{ product_image.image.url }}"
                             alt="product_{{ forloop.counter }}_{{ product.name }}"/>

                    {% if product.effective_reduction > 0 %}
                        <div class="info_reduction">
                            -{{ product.effective_reduction }}%
                        </div>
                    {% endif %}
                    <div class="info_price">
                        {{ product.price_exact_ttc|floatformat:2 }}€ TTC
                    </div>
                    <figcaption>
                        {{ product.name|title }}
                    </figcaption>
                    </a>
                </figure>
            </article>
        {% endif %}
    {% endwith %}
{% empty %}
    <h3>Aucun résultats pour ses filtres.</h3>
{% endfor %}