{% spaceless %}
    <form action="{% url "catalogue_basket_promo" %}" method="post">
        {% csrf_token %}
        <div>
            {% if form.code_promo.errors %}
                <div>
                    {{ form.code_promo.errors }}
                </div>
            {% endif %}
            <div>
                <label for="{{ form.code_promo.id_for_label }}">{{ form.code_promo.label }} : </label>
                {{ form.code_promo }}
            </div>
            <div>
                <input type="submit" value="Envoyer"/>
            </div>
        </div>
    </form>
{% endspaceless %}

