{% spaceless %}
    <form action="{% url "catalogue_basket_promo" %}" method="post">
        {% csrf_token %}
        <div class="grid gap-3">
            {% if form.code_promo.errors %}
                <div class="span_12">
                    {{ form.code_promo.errors }}
                </div>
            {% endif %}
            <div class="span_12">
                <label for="{{ form.code_promo.id_for_label }}">{{ form.code_promo.label }} : </label>
                {{ form.code_promo }}
            </div>
            <div class="span_12">
                <input type="submit" class="btn btn-primary" value="Envoyer"/>
            </div>
        </div>
    </form>
{% endspaceless %}

