.dr_grid {
    column-gap: 1em;
}

.dr_main {
    position: relative;
    height: 1.3em;
    user-select: none;
}

.double_range {
    position: absolute;
    background-color: rgb(255, 212, 160);
    height: 0.9em;
    width: calc(100% - 22px);
    left: 11px;
    z-index: 1;
    top: 0.2em;
    user-select: none;
}

.double_range_temoin {
    position: absolute;
    background-color: rgb(231, 231, 231);
    height: 100%;
    width: calc(100% - 22px);
    left: 11px;
    z-index: 0;
    user-select: none;
}

.dr_wrapper {
    z-index: 2;
    position: absolute;
}

.dr_box {
    width: 20px;
    background-color: #ececec;
    border: 1px solid;
    height: 1.2em;
    cursor: move;
    position: relative;
    user-select: none;
    border-radius: 1em;
}

.dr_box.base {
    display: none;
}

.dr_wrapper:nth-of-type(2) {
    width: unset;
    right: 0;
}