{
  "secret_key": "my_secret",
  "allowed_hosts": [
    "127.0.0.1"
  ],
  "stripe": {
    "private_key": "sk_test_XXXXXXXXX",
    "public_key": "pk_test_XXXXXXXXX",
    "account_id": "acct_XXXXXXXX",
    "webhook": "whsec_XXXXXXXXX"
  },
  "db": {
    "name": "XXXXXXX",
    "user": "XXXXXX",
    "pwd": "XXXXXXX",
    "host": "127.0.0.1",
    "port": "5432"
  },
  "EMAIL_HOST": "smtp.gmail.com",
  "EMAIL_HOST_USER": "XXXXXX@gmail.com",
  "EMAIL_HOST_PASSWORD": "password",
  "WEBSITE_TITLE": "EloCoco",
  "STATICFILES_DIRS": [
    "static_elococo"
  ]
}