{% load static %}

<footer>
    <section class="logos">
        <h3>Logos</h3>
        <figure>
            <img src="{% static "images/Carla_logo.png" %}" alt="logo">
        </figure>
        <div>
        </div>
    </section>
    <section>
        <h3>Nos engagements</h3>
        <ul>
            <li>Livraison offerte dès {{ delivery_free_gt|floatformat:2 }}€</li>
            <li>Paiement 100% sécurisé</li>
            <li>Articles en stock</li>
        </ul>
    </section>
    <section>
        <h3>À Propos</h3>
        <p>Développé par <a target="_blank" href="{% url 'ivan_cv' %}">BESEVIC Ivan</a>.</p>
        <p> Tous droits réservés. {% now "Y" %}.</p>
        <p>Ceci est un site de démonstration.</p>
        <figure>
            <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img src="{% static "images/rule2.bmp" %}" alt="licence">
            </a>
        </figure>
    </section>
    <section>
        <h3>
            Mode de paiements
        </h3>
        <div class="payments_mode">
            <figure>
                <img src="{% static "images/visa1.png" %}" alt="visa"/>
            </figure>
            <figure>
                <img src="{% static "images/Master.png" %}" alt="master"/>
            </figure>
            <figure>
                <img src="{% static "images/cb.svg" %}" alt="carte bleue"/>
            </figure>
        </div>
    </section>
</footer>